var csrf_token = "{{ csrf_token() }}"

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token)
        }
    }
})
    
function get_flights_by_date(){
$.ajax({
  type: 'POST',
  url: "/get_flights_by_date",
  data: {date: $("#flight_arrival_date").val()},
  dataType: "text",
  async: false,
  success: function(data){
    document.getElementById("flight_code_id").innerHTML = data.toString();
  }
});
};

function get_trains_by_date_range(){
$.ajax({
  type: 'POST',
  url: "/get_trains_by_date_range",
  data: {departure_date: $("#train_departure_date").val(), arrival_date: $("#train_arrival_date").val()},
  dataType: "text",
  async: false,
  success: function(data){
    document.getElementById("train_id").innerHTML = data.toString();
  }
});
};

function update_travel_form() {
var flightForm = `  <div class='col-xl'>
                      <div class='form-group'>
                        <label for='arrival-date-input' class='form-control-label'>{{ _('Дата Въезда') }}</label>
                        {{ form.flight_arrival_date(class='form-control') }}
                        </div>
                      </div>  
                    <div class='col-xl'>                        
                      <div class='form-group'>
                        <label for='flight-no-input' class='form-control-label'>{{ _('Номер Рейса') }}</label>
                        {{ form.flight_code_id(class='form-control') }}
                      </div>
                    </div>
                    {% if "flight_seat" in form.__dict__.keys() %}                    
                    <div class='col-xl'>                        
                      <div class='form-group'>
                        <label for='flight-no-input' class='form-control-label'>{{ _('Место') }}</label>
                        {{ form.flight_seat(class='form-control', placeholder=_('Например') + ' 1C') }}
                      </div>
                    </div>
                    {% endif %}
                    `;

var trainForm = `  <div class='col-xl'>
                      <div class='form-group'>
                        <label for='arrival-date-input' class='form-control-label'>{{ _('Дата Отправления') }}</label>
                        {{ form.train_departure_date(class='form-control datepicker', type="date") }}
                        </div>
                      </div>
                    <div class='col-xl'>
                      <div class='form-group'>
                        <label for='arrival-date-input' class='form-control-label'>{{ _('Дата Прибытия') }}</label>
                        {{ form.train_arrival_date(class='form-control datepicker', type="date") }}
                        </div>
                      </div>    
                    <div class='col-md-auto'>                        
                      <div class='form-group'>
                        <label for='flight-no-input' class='form-control-label'>{{ _('ЖД Рейс') }}</label>
                        {{ form.train_id(class='form-control') }}
                      </div>
                    </div>
                    {% if "train_wagon" in form.__dict__.keys() %}
                    <div class='col-xl'>                        
                      <div class='form-group'>
                        <label for='flight-no-input' class='form-control-label'>{{ _('Вагон') }}</label>
                        {{ form.train_wagon(class='form-control', placeholder=_('Например') + ' 32') }}
                      </div>
                    </div>
                    {% endif %}       
                    {% if "train_seat" in form.__dict__.keys() %}             
                    <div class='col-xl'>                        
                      <div class='form-group'>
                        <label for='flight-no-input' class='form-control-label'>{{ _('Место') }}</label>
                        {{ form.train_seat(class='form-control', placeholder=_('Например') + ' 4') }}
                      </div>
                    </div>
                    {% endif %}
                    `;

var blockpostForm = `  <div class='col-xl'>
                      <div class='form-group'>
                        <label for='arrival-date-input' class='form-control-label'>{{ _('Регион Блокпоста') }}</label>
                        {{ form.blockpost_region_id(class='form-control') }}
                        </div>
                      </div>  
                    `;

var borderForm = `  <div class='col-xl'>
                      <div class='form-group'>
                        <label for='arrival-date-input' class='form-control-label'>{{ _('Дата Въезда') }}</label>
                        {{ form.arrival_date(class='form-control datepicker', type='date') }}
                        </div>
                      </div>  
                    `;

var formTemplateBegin = `<div class='col-xl'>                        
                      <div class='form-group'>
                        <label for='flight-no-input' class='form-control-label'>{{ _('Пункт Пропуска') }}</label>`

var formTemplateEnd = `</div>
                    </div>`

var autoForm = formTemplateBegin + `{{ form.auto_border_id(class='form-control') }}` + formTemplateEnd
var footForm = formTemplateBegin + `{{ form.foot_border_id(class='form-control') }}` + formTemplateEnd
var seaForm = formTemplateBegin + `{{ form.sea_border_id(class='form-control') }}` + formTemplateEnd                                                   
var travelForm = document.getElementById("travel_form")

function addToTravelForm(html) {
  document.getElementById("travel_form").insertAdjacentHTML('beforeend', html)
}

if (travelForm.children.length !== 1) {
  while (travelForm.children.length > 1) {
      travelForm.removeChild(travelForm.lastChild);
  }
}
var travel_type = $("#travel_type").val();
if (travel_type !== '{{c.local_type[0]}}' && travel_type !== '{{c.all_travel_types[0]}}') {
  if (travel_type === '{{c.flight_type[0]}}') {
    addToTravelForm(flightForm)

    $("#flight_arrival_date").on("change", function(){
    get_flights_by_date();
    });
  } else if(travel_type === '{{c.train_type[0]}}') {
    addToTravelForm(trainForm)

    $("#train_departure_date").on("change", function(){
      get_trains_by_date_range();
    });
    $("#train_arrival_date").on("change", function(){
      get_trains_by_date_range();
    });
  } else if(travel_type === '{{c.blockpost_type[0]}}') {
    addToTravelForm(borderForm)
    addToTravelForm(blockpostForm)
  } else if(travel_type !== '{{c.old_data_type[0]}}') {
    addToTravelForm(borderForm)
    
    switch(travel_type) {
      case '{{c.by_auto_type[0]}}':
        addToTravelForm(autoForm)
        break;
      case '{{c.by_foot_type[0]}}':
        addToTravelForm(footForm)
        break;
      case '{{c.by_sea_type[0]}}':
        addToTravelForm(seaForm)
        break;
    } 
  }
}
}