{% extends "base_site.html" %}

{% block title %} Icons {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

{% with stats=stats %}
{% include "site_template/top-stats.html" %}
{% endwith %}

<div class="container-fluid mt--7">
  {% if added > -1 %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
    <span class="alert-text">{{ added }} больниц было добавлено в базу данных</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Инструкция</h3>
        </div>
        <div class="card-body">
          <!-- <p> -->
            Ваш CSV файл должен быть формата:
            Название*|Адрес*|Койко-мест|Кол-во защитных средств|Кол-во тестов
            <!-- </p> -->
            <br>
            <a href="/static/assets/files/диспансеры_алматы">Пример таблицы</a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Table -->
    <div class="row mt-5">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">Добавить через CSV</h3>
          </div>
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="region-input" class="form-control-label">Регион</label>
                    {{ form.region(placeholder="Алматы",class="form-control", type="text") }}
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="hospital-type-input" class="form-control-label">Регион</label>
                    {{ form.hospital_type(class="form-control") }}
                  </div>
                </div>                
              </div>
              <div class="row">
                <div class="col">
                  <div class="custom-file">
                    {{ form.file(class="custom-file-input", id="customFileLang", lang="ru") }}
                    <label class="custom-file-label" for="customFileLang">Select file</label>
                  </div>
                </div>
                <div class="col-md-auto">
                  {{ form.submit(class="btn btn-primary") }}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% include "site_template/footer.html" %}

  </div>        

  {% endblock content %}

  {% block javascripts %}
  {{ super()}}
  {% endblock javascripts %}
