<div class="card bg-secondary shadow">
	<div class="card-header bg-white">
		<div class="row">
	  		<div class="col-lg">
				<div class="form-group">
					<label for="name-input" class="form-control-label">{{ _("Фамилия") }}*</label>
					{{ form.second_name(placeholder=_("Иванов"),class="form-control", id="lastnameInput", type="text") }}
				</div>
	  		</div>
			<div class="col-lg">
				<div class="form-group">
					<label for="name-input" class="form-control-label">{{ _("Имя") }}*</label>
					{{ form.first_name(placeholder=_("Иван"),class="form-control", id="firstnameInput", type="text") }}
				</div>
			</div>						  
			<div class="col-lg">
				<div class="form-group">
					<label for="name-input" class="form-control-label">{{ _("Отчество") }}</label>
					{{ form.patronymic_name(placeholder=_("Иванович"),class="form-control", id="midnameInput", type="text") }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-auto">
				<div class="form-group">
					<label class="form-control-label">{{ _("Пол") }}*</label><br>
					{% for subfield in form.gender %}
						<div class="custom-control custom-radio custom-control-inline">
						{{ subfield(type="radio", id=subfield.id, class="custom-control-input") }}
						<label class="custom-control-label" for='{{ subfield.id }}'>{{ subfield.label }}</label>
						</div>
					{% endfor %}
				</div>
	  		</div>
	  		<div class="col">
				<div class="form-group">
					<label for="dob-input" class="form-control-label">{{ _("Дата Рождения") }}*</label>
					{{ form.dob(class="form-control datepicker", id="dobInput", type="date") }}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card bg-secondary shadow mt-3">
	<div class="card-header bg-white">
		<div class="row">
			<div class="col-xl">
				<div class="form-group">
					<label for="iin-input" class="form-control-label">{{ _("ИИН") }}</label>
					<div class="input-group">
						{{ form.iin(placeholder=_("12 Цифр"),class="form-control", id="iinInput", type="text", onkeyup="this.value=this.value.replace(/[^0-9]/g,'');") }}
						<div class="input-group-append">
							<span style="display: inline-flex;align-items: center;" id="iinAutoFill" class="btn btn-primary btn-sm">Заполнить</span>
						</div>
					</div>
	  			</div>
	  		</div>
	  <div class="col-xl">
	  <div class="form-group">
		<label for="citizenship-input" class="form-control-label">{{ _("Страна Проживания") }}*</label>
		{{ form.country_of_residence_id(class="form-control") }}
	  </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xl">
	  <div class="form-group">
		<label for="citizenship-input" class="form-control-label">{{ _("Гражданство") }}*</label>
		{{ form.citizenship_id(class="form-control", id="countryInput") }}
	  </div>
	  </div>
	  <div class="col-xl">
	  <div class="form-group">
		<label for="npass-input" class="form-control-label">{{ _("Номер Паспорта") }}</label>
		{{ form.pass_num(placeholder=_("N12345678"), class="form-control", type="text") }}
	  </div>
	  </div>
	</div>
	</div>
  </div>
  <div class="card bg-secondary shadow mt-3">
	<div class="card-header bg-white">
	<label for="home-input" class="form-control-label">{{ _("Место жительства / возможное место проживания") }}*</label>
	<div class="row">
	  <div class="col">
	  <div class="form-group">
		<label for="home-input" class="form-control-label sub-label">{{ _("Страна") }}*</label>
		{{ form.home_address_country_id(class="form-control") }}
	  </div>
	  </div>
	  <div class="col">
	  <div class="form-group">
		<label for="home-input" class="form-control-label sub-label">{{ _("Область") }}</label>
		{{ form.home_address_state(class="form-control", type="text" ) }}
	  </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col">
	  <div class="form-group">
		<label for="home-input" class="form-control-label sub-label">{{ _("Район (только для села)") }}</label>
		{{ form.home_address_county(class="form-control", type="text", placeholder="Не микрорайон" ) }}
	  </div>
	  </div>
	  <div class="col">
	  <div class="form-group">
		<label for="home-input" class="form-control-label sub-label">{{ _("Город") }}</label>
		{{ form.home_address_city(class="form-control", type="text" ) }}
	  </div>
	  </div>
	  <div class="col-auto">
	  <div class="form-group">
		<label for="home-input" class="form-control-label sub-label">{{ _("Тип (Село/Город)") }}</label>
		{{ form.home_address_location_type_id(class="form-control") }}
	  </div>
	  </div>	  
	</div>
	<div class="row">
	  <div class="col-xl">
	  <div class="form-group">
		<label for="home-input" class="form-control-label sub-label">{{ _("Улица") }}</label>
		{{ form.home_address_street(class="form-control", type="text", placeholder=_("Байтурсынова или мкр. Отырар") ) }}
	  </div>
	  </div>
	  <div class="col">
	  <div class="row">
		<div class="col">
		<div class="form-group">
		  <label for="home-input" class="form-control-label sub-label">{{ _("Дом") }}</label>
		  {{ form.home_address_house(class="form-control", type="text", placeholder=_("1") ) }}
		</div>
		</div>
		<div class="col">
		<div class="form-group">
		  <label for="home-input" class="form-control-label sub-label">{{ _("Квартира") }}</label>
		  {{ form.home_address_flat(class="form-control", type="text", placeholder=_("2") ) }}
		</div>
		</div>													
		<div class="col">
		<div class="form-group">
		  <label for="home_address_building" class="form-control-label sub-label">{{ _("Корпус") }}</label>
		  {{ form.home_address_building(class="form-control", type="text", placeholder=_("3") ) }}
		</div>
		</div>
	  </div>
	  </div>						  
	</div>
	</div>		
  </div>
<script>
function titleCase(str, delim) {
	var splitStr = str.toLowerCase().split(delim);
	for (var i = 0; i < splitStr.length; i++) {
		// You do not need to check if i is larger than splitStr length, as your for does that for you
		// Assign it back to the array
		if (splitStr[i].includes('-')) {
			splitStr[i] = titleCase(splitStr[i], '-');
		}
		splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);     
	}
	// Directly return the joined string
	return splitStr.join(delim); 
}
$("#iinAutoFill").click(() => {
	$.notify({
		icon: 'fa fa-thumbs-up',
		message: 'Загрузка...'
	},{
		type: 'info',
	});

	let iinData = {
		'iin': document.getElementById("iinInput").value
	};
	$.ajax({
        url: "/iin/data",
		type: "post",
		contentType: "application/json",
        data: JSON.stringify(iinData),
        success: function (response) {
			// if already exists
			if ('id' in response) {
				$.notify({
					icon: 'fa fa-times',
					message: `Человек с таким <a href="/patient_profile?id=${response['id']}">ИИН уже внесен в базу</a>`
				},{
					type: 'info',
				});
				return ;
			}
			
			// if is dead
			if (response.deathDate != null) {
				$.notify({
					icon: 'fa fa-times',
					message: 'Человек с таким ИИН умер. Не забудьте добавить статус \'Умер\'.'
				},{
					type: 'danger',
				});
				// return ;
			}
			document.getElementById("lastnameInput").value = titleCase(response.lastName, ' ');
			document.getElementById("firstnameInput").value = titleCase(response.firstName, ' ');
			document.getElementById("midnameInput").value = titleCase(response.secondName, ' ');
			document.getElementById("dobInput").value = response.birthDate.slice(0,10);
			let countryValue = 88
			for (let i = 0; i < document.getElementById("countryInput").options.length; i++) {
				if (document.getElementById("countryInput").options[i].text == response.citizen) {
					countryValue = document.getElementById("countryInput").options[i].value;
					break;
				}
			}
			document.getElementById("countryInput").value = countryValue;
			if (response.sex == "3") {
				document.getElementById("gender-0").checked = true;
			} else if (response.sex == "2") {
				document.getElementById("gender-1").checked = true;
			} else {
				document.getElementById("gender-2").checked = true;
			}

			var typesDict = {
				"country": ["РЕСПУБЛИКА"],
				"state": ["ОБЛАСТЬ"],
				"area": ["РАЙОН", "РАЙОН ВНУТРИ ГОРОДА"],
				"city": ["ГОРОД РЕСП.ЗНАЧ.", "ГОРОД ОБЛ.ЗНАЧ.", "ГОРОД РАЙ.ЗНАЧ."],
				"village": ["ПОСЕЛОК", "АУЛ(СЕЛО)"],
				"street": ["УЛИЦА", "МИКРОРАЙОН", "ВОИНСКАЯ ЧАСТЬ"],
				"house": ["ДОМ"],
				"flat": ["КВАРТИРА"]
			};

			function getAddressType(value) {
				for (var type in typesDict) {
					if(typesDict[type].includes(value)) return type
				}

				return null
			}

			function resetForm(id) {
			    $('#' + id).val(function() {
			        return this.defaultValue;
			    });
			}			

			var addressValuesDict = {}
			console.log(response.address.addressString)		

			if (response.address != null) {
				let addressValues = response.address.addressString.split(", ");

				for (let i = 0; i < addressValues.length; i++) {
					addressValues[i] = addressValues[i].split(": ");
					if (addressValues[i].length > 1) {
						var addressType = getAddressType(addressValues[i][0])
						if (addressType != null) {
							addressValuesDict[addressType] = addressValues[i][1];
						}

						addressValues[i] = addressValues[i][1];
					}  else {
						addressValues[i] = "";
					}
				}

				// console.log(Object.keys(addressValuesDict))
				var addressTypeKeys = Object.keys(addressValuesDict)

				var resetFormList = ["home_address_state", "home_address_county", "home_address_city", "home_address_street",
									 "home_address_house", "home_address_flat"]

				for (resetParam in resetFormList) resetForm(resetFormList[resetParam])

				if (addressTypeKeys.includes("state")){
					document.getElementById("home_address_state").value = titleCase(addressValuesDict["state"], ' ');
				}

				if (addressTypeKeys.includes("area")){
					document.getElementById("home_address_county").value = titleCase(addressValuesDict["area"], ' ');
				}				

				if (addressTypeKeys.includes("city")){
					document.getElementById("home_address_city").value = titleCase(addressValuesDict["city"], ' ');
					$('#home_address_location_type_id').val('{{ location_type_value_id[c.city_loc_type[0]] }}');
				}

				if (addressTypeKeys.includes("village")){
					document.getElementById("home_address_city").value = titleCase(addressValuesDict["village"], ' ');
					$('#home_address_location_type_id').val('{{ location_type_value_id[c.village_loc_type[0]] }}');
				}				

				if (addressTypeKeys.includes("street")) {
					document.getElementById("home_address_street").value = titleCase(addressValuesDict["street"], ' ');
				}

				if (addressTypeKeys.includes("house")) {
					document.getElementById("home_address_house").value = titleCase(addressValuesDict["house"], ' ');
				}

				if (addressTypeKeys.includes("flat")) {
					document.getElementById("home_address_flat").value = titleCase(addressValuesDict["flat"], ' ');
				}
			}
			if (response.phone != null) {
				document.getElementById("phoneInput").value = response.phone.PhoneNumber;
			}

			$.notify({
				icon: 'fa fa-thumbs-up',
				message: 'Заполнено успешно'
			},{
				type: 'info',
			});
        },
        error: function(jqXHR, textStatus, errorThrown) {
		   console.log(textStatus, errorThrown, jqXHR);
		   // not valid iin
		   text = 'Неизвестная ошибка';
		   if (jqXHR.status == 403) {
			   text = 'Невалидный ИИН';
		   }

		   // not found
		   if (jqXHR.status == 405) {
			   text = 'Не найдено в базе';
		   }

		   if (jqXHR.status == 406) {
			   text = 'Сервис недоступен';
		   }

		   $.notify({
				icon: 'fa fa-times',
				message: text
			},{
				type: 'danger',
			});
        }
    });
});
</script>