                        <div class="card bg-secondary shadow">
                          <div class="card-header bg-white">                        
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="name-input" class="form-control-label">{{ _("Фамилия") }}*</label>
                                  {{ form.second_name(placeholder=_("Иванов"),class="form-control", type="text") }}
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="name-input" class="form-control-label">{{ _("Имя") }}*</label>
                                  {{ form.first_name(placeholder=_("Иван"),class="form-control", type="text") }}
                                </div>
                              </div>                          
                              <div class="col">
                                <div class="form-group">
                                  <label for="name-input" class="form-control-label">{{ _("Отчество") }}</label>
                                  {{ form.patronymic_name(placeholder=_("Иванович"),class="form-control", type="text") }}
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-auto">
                                <div class="form-group">
                                  <label class="form-control-label">{{ _("Пол") }}*</label><br>
                                  {% for subfield in form.gender %}
                                  <div class="custom-control custom-radio custom-control-inline">
                                    {{ subfield(type="radio", id=subfield.id, class="custom-control-input") }}
                                    <label class="custom-control-label" for='{{ subfield.id }}'>{{ subfield.label }}</label>
                                  </div>
                                  {% endfor %}
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="dob-input" class="form-control-label">{{ _("Дата Рождения") }}*</label>
                                  {{ form.dob(class="form-control", type="date") }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card bg-secondary shadow mt-3">
                          <div class="card-header bg-white">                        
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="iin-input" class="form-control-label">{{ _("ИИН") }}</label>
                                  {{ form.iin(placeholder=_("12 Цифр"),class="form-control", type="text", onkeyup="this.value=this.value.replace(/[^0-9]/g,'');") }}
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="citizenship-input" class="form-control-label">{{ _("Страна Проживания") }}*</label>
                                  {{ form.country_of_residence_id(class="form-control") }}
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="citizenship-input" class="form-control-label">{{ _("Гражданство") }}*</label>
                                  {{ form.citizenship_id(class="form-control") }}
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="npass-input" class="form-control-label">{{ _("Номер Паспорта") }}</label>
                                  {{ form.pass_num(placeholder=_("N12345678"), class="form-control", type="text") }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card bg-secondary shadow mt-3">
                          <div class="card-header bg-white">
                            <label for="home-input" class="form-control-label">{{ _("Место жительства / возможное место проживания") }}*</label>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="home-input" class="form-control-label sub-label">{{ _("Страна") }}*</label>
                                  {{ form.home_address_country_id(class="form-control") }}
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="home-input" class="form-control-label sub-label">{{ _("Область") }}</label>
                                  {{ form.home_address_state(class="form-control", type="text" ) }}
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="home-input" class="form-control-label sub-label">{{ _("Район") }}</label>
                                  {{ form.home_address_county(class="form-control", type="text" ) }}
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="home-input" class="form-control-label sub-label">{{ _("Город") }}*</label>
                                  {{ form.home_address_city(class="form-control", type="text" ) }}
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xl">
                                <div class="form-group">
                                  <label for="home-input" class="form-control-label sub-label">{{ _("Улица") }}</label>
                                  {{ form.home_address_street(class="form-control", type="text", placeholder=_("Байтурсынова") ) }}
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="form-group">
                                  <label for="home-input" class="form-control-label sub-label">{{ _("Дом") }}</label>
                                  {{ form.home_address_house(class="form-control", type="text", placeholder=_("1") ) }}
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="form-group">
                                  <label for="home-input" class="form-control-label sub-label">{{ _("Квартира") }}</label>
                                  {{ form.home_address_flat(class="form-control", type="text", placeholder=_("2") ) }}
                                </div>
                              </div>                                                    
                              <div class="col-sm-2">
                                <div class="form-group">
                                  <label for="home_address_building" class="form-control-label sub-label">{{ _("Корпус") }}</label>
                                  {{ form.home_address_building(class="form-control", type="text", placeholder=_("3") ) }}
                                </div>
                              </div>                          
                            </div>
                          </div>        
                        </div>  