{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

{% include "site_template/top-stats.html" %}

<div class="container-fluid mt--7">
    {% if user_allowed_exports %}
    <!-- Table -->
    <div class="row mt-3">
      <div class="col">
      {% with table=downloads_table,
       search_fields = [
        [                
          [_("Дата"), downloads_search_form.download_date(class="form-control", type="date")],
        ]
      ] 
      %}
        {% include "modules/table/table.html" %}
      {% endwith %}
      </div>
    </div>
    {% endif %}

    <!-- Footer -->



    {% include "site_template/footer.html" %}

  </div>        

  {% endblock content %}

  {% block javascripts %}
  {{ super()}}

  <script>
  function download_users_activity_xls() {
    $.post($("#export_xls").attr('action'), $("#export_xls").serialize(), function(res){
      console.log(res)
    })
    .fail(function() {
        $.notify({
          // options
          icon: 'fa fa-exclamation-circle',
          message: '{{ _("Произошла ошибка. Обратитесь к администратору") }}'
        },{
          // settings
          type: 'danger',
        });
    });
  }
  </script>

  {% with change=change, error_msg=error_msg %}
  {% include "site_template/change_notification.html" %}
  {% endwith %}

  {% endblock javascripts %}
