{% extends "base_site.html" %}

{% block title %} Icons {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

{% with stats=stats %}
  {% include "site_template/top-stats.html" %}
{% endwith %}

<div class="container-fluid mt--7">
    {% if added %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="alert-icon"><i class="ni ni-like-2"></i></span>
        <span class="alert-text">Пациент добавлен в базу данных</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Добавить Пациента Вручную</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <form id="add-patients" role="form" method="post" action="">
                {{ form.hidden_tag() }}
                <div class="row">
                  <div class="col">
                    <div class="card shadow">
                      <div class="card-header bg-transparent">
                        <div class="form-group">
                          <label for="name-input" class="form-control-label">ФИО</label>
                          {{ form.full_name(placeholder="Иванов Иван",class="form-control", type="text") }}
                        </div>
                        <div class="form-group">
                          <label for="iin-input" class="form-control-label">ИИН</label>
                          {{ form.iin(placeholder="12 Цифр",class="form-control", type="text", onkeyup="this.value=this.value.replace(/[^0-9]/g,'');") }}
                        </div>
                        <div class="form-group">
                          <label for="dob-input" class="form-control-label">Дата Рождения</label>
                          {{ form.dob(class="form-control", type="date") }}
                        </div>
                        <div class="form-group">
                          <label for="citizenship-input" class="form-control-label">Гражданство</label>
                          {{ form.citizenship(class="form-control") }}
                        </div>
                        <div class="form-group">
                          <label for="npass-input" class="form-control-label">Номер Паспорта</label>
                          {{ form.pass_num(placeholder="N12345678", class="form-control", type="text") }}
                        </div>
                        <div class="form-group">
                          <label for="phone-input" class="form-control-label">Телефон</label>
                          {{ form.telephone(placeholder="77017123456", class="form-control", type="tel") }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow">
                      <div class="card-header bg-transparent">
                        <div class="form-group">
                          <label for="arrival-date-input" class="form-control-label">Дата Въезда</label>
                          {{ form.arrival_date(class="form-control", type="date") }}
                        </div>
                        <div class="form-group">
                          <label for="flight-no-input" class="form-control-label">Номер Рейса</label>
                          {{ form.flight_code(class="form-control", type="text", placeholder="SU1951") }}
                        </div>

                        <div class="form-group">
                          <label for="14days-place-input" class="form-control-label">Место и сроки пребывания в последние 14 дней</label>
                          {{ form.visited_country(class="form-control", type="text", placeholder="Италия") }}
                        </div>
                        <div class="form-group">
                          <label for="region-input" class="form-control-label">Регион</label>
                          {{ form.region(class="form-control", type="text", placeholder="Алматы") }}
                        </div>
                        <div class="form-group">
                          <label for="home-input" class="form-control-label">Место жительства / возможное место проживания</label>
                          {{ form.home_address(class="form-control", type="text", placeholder="Алматы") }}
                        </div>
                        <div class="form-group">
                          <label for="job-input" class="form-control-label">Место Работы</label>
                          {{ form.job(class="form-control", type="text", placeholder="Алматы") }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col">
                    <div class="card shadow">
                      <div class="card-header bg-transparent">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label class="form-control-label">Найден?</label><br>
                                {% for subfield in form.is_found %}
                                <div class="custom-control custom-radio custom-control-inline">
                                  {{ subfield(type="radio", id=subfield.label, class="custom-control-input") }}
                                  <label class="custom-control-label" for='{{ subfield.label }}'>{{ subfield.label }}</label>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                            <div class="col">
                              <label class="form-control-label">Госпитализирован?</label><br>                            
                              <div class="form-group">
                                {% for subfield in form.in_hospital %}
                                <div class="custom-control custom-radio custom-control-inline">
                                  {{ subfield(type="radio", id=subfield.label, class="custom-control-input") }}
                                  <label class="custom-control-label" for='{{ subfield.label }}'>{{ subfield.label }}</label>
                                </div>
                                {% endfor %}                                
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label for="job-input" class="form-control-label">Место Госпитализации</label>
                                {{ form.hospital(class="form-control", type="text", placeholder="1-Я инфекционная") }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <button type="submit" name="create" class="btn btn-primary" style="width:100%; height:100%" type="button">
                      Отправить
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% include "site_template/footer.html" %}

</div>        

{% endblock content %}

{% block javascripts %}
{{ super()}}
{% endblock javascripts %}
