{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

<!-- Header -->
{% include "site_template/top-stats.html" %}

<!-- Page content -->
<div class="container-fluid mt--7">
    {% if updated %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="alert-icon"><i class="ni ni-like-2"></i></span>
        <span class="alert-text">Данные успешно обновлены</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">

                    </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                </div>
                <div class="card-body pt-0 pt-md-1">

                    <div class="text-center">
                        <h3>
                            {{ patient.full_name }}<span class="font-weight-light"></span>
                        </h3>
                        <div class="h3">
                            <i class="ni location_pin mr-2"></i>Возраст - {{ age }}
                        </div>
                        <hr class="my-4" />
                        <form method="POST">            
                            <div class="col">
                              <div class="row">
                                <div class="col">
                                    {{ form.hospital(class="form-control", placeholder="Госпиталь") }}
                                </div>
                                <div class="col-mt">
                                  <div class="custom-control custom-checkbox">
                                    {{ form.is_found(class="custom-control-input") }}
                                    <label class="custom-control-label" for="is_found">Найден</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    {{ form.in_hospital(class="custom-control-input") }}                    
                                    <label class="custom-control-label" for="in_hospital">Госпитализирован</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-3">
                            <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Обновить">
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-8 order-xl-1">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Профиль Пациента</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form>
                <h6 class="heading-small text-muted mb-4">Личные Данные</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-iin">ИИН</label>
                                <input type="text" id="input-iin" class="form-control form-control-alternative" disabled value="{{ patient.iin }}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-dob">Дата Рождения</label>
                                <input type="text" id="input-dob" class="form-control form-control-alternative" disabled value="{{ patient.dob }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-citizenship">Гражданство</label>
                                <input type="text" id="input-citizenship" class="form-control form-control-alternative" disabled value="{{ patient.citizenship }}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-pass-num">Номер Паспорта</label>
                                <input type="text" id="input-pass-num" class="form-control form-control-alternative" disabled value="{{ patient.pass_num }}">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Контактная Информация</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input-home_address">Место жительства / возможное место проживания</label>
                                <input type="text" id="input-home_address" class="form-control form-control-alternative" disabled value="{{ patient.home_address }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="input-region">Регион</label>
                                <input type="text" id="input-region" class="form-control form-control-alternative" disabled value="{{ patient.region }}">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="input-job">Место Работы</label>
                                <input type="text" id="input-job" class="form-control form-control-alternative" disabled value="{{ patient.job }}">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="input-telephone">Телефон</label>
                                <input type="text" id="input-telephone" class="form-control form-control-alternative" disabled value="{{ patient.telephone }}">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">Информация о Въезде</h6>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-arrival-date">Дата Въезда</label>
                            <input type="text" id="input-arrival-date" class="form-control form-control-alternative" disabled value="{{ patient.arrival_date }}">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-flight-code">Номер Рейса</label>
                            <input type="text" id="input-flight-code" class="form-control form-control-alternative" disabled value="{{ patient.flight_code }}">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-visited-country">Из Страны</label>
                            <input type="text" id="input-visited-country" class="form-control form-control-alternative" disabled value="{{ patient.visited_country }}">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% include "site_template/footer.html" %}

</div>    

{% endblock content %}

{% block javascripts %}
{{ super()}}
{% endblock javascripts %}
