{% extends "base_site.html" %}

{% block title %} Центр помощи {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
    {% include "site_template/navigation.html" %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
       </div>
      </div>
    </div>            
    <div class="container-fluid mt--9">
        <div class="row">
            <div class="card shadow" style="width: 100%; margin-top: 1.5rem; padding: 2rem;">
                <div>
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2>Центр помощи</h2>
                            </div>
                            <div class="col" style="text-align: end;">
                                <a target="_blank" href="https://forms.gle/fbQLPagj7vFA7cZz7" class="btn btn-primary btn-sm">Заявить о проблеме</a>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center; margin: 1rem 0;">
                        <div class="row">
                            <div class="col">
                                <h3>Добавление пациента, прибывшего на борту самолета</h3>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/rAHNxtjKNQk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="col">
                                <h3>Добавление пациента, прибывшего поездом</h3>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/Np9gpblfiAg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col">
                                <h3>Изменение информации пациента</h3>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/14djMa0D2uE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="col">
                                <h3>Обновление статуса пациента</h3>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/qwimi-QYpLk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h3>Использование фильтров</h3>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/KIq2s5vaqRU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="col">
                                <h3>Добавление контактировавшего</h3>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/PBshuAcETMw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    <hr>
                    <div class="card-body">
                        <div id="commento"></div>
                        <script src="https://cdn.commento.io/js/commento.js"></script>
                    </div>
                </div>
            </div>
            
        </div>

    {% include "site_template/footer.html" %}

    </div>

{% endblock content %}

{% block javascripts %}
{{ super()}}
{% endblock javascripts %}
