{% extends "base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  {% include "site_template/navigation.html" %}

  {% with stats=stats %}
    {% include "site_template/top-stats.html" %}
  {% endwith %}

  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl mb-5">
          <div class="card shadow">
                      <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="mb-0">{{ _('Карта Пациентов') }}</h2>
              </div>
            </div>
          </div>
           <div id="map" style="width:100%; height:500px"></div>
          </div>
      </div>
  {% if current_user.is_admin %}
      <div class="col-xl-4">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">{{ _('Статистика') }}</h6>
                <h2 class="mb-0">{{ _('Найдены') }}</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
              <canvas id="chart-patients-not-found"></canvas>
        </div>
      </div>
    </div>
    {% endif %}      
    </div>

    <div class="row">
      <div class="col-xl mb-5">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">{{ _('Новые пациенты') }}</h3>
              </div>
              <div class="col text-right">
                <a href="/patients" class="btn btn-sm btn-primary">{{ _('Все Пациенты') }}</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">{{ _('ФИО') }}</th>
                  <th scope="col">{{ _('Найден') }}</th>
                  <th scope="col">{{ _('Место госпитализации') }}</th>
                  <th scope="col">{{ _('Прилетел из') }}</th>
                </tr>
              </thead>
              <tbody>
              {% for patient in last_five_patients %}
                <tr>
                  <th scope="row">
                    <a href="/patient_profile?id={{patient.id}}">
                      {{ patient }}
                    </a>
                  </th>
                  <td>
                    {% if patient.is_found %}
                      <font color="green">{{ _('Да') }}</font>
                    {% else %}
                      <font color="red">{{ _('Нет') }}</font>
                    {% endif %}
                  </td>
                  <td>
                    {% if patient.status.value == constants.in_hospital[0] %}
                      <font color="green">{{ _('Да') }}</font>
                    {% else %}
                      <font color="red">{{ _('Нет') }}</font>
                    {% endif %}
                  </td>
                  <td>
                    {% if not patient.visited_country %}
                      {{ constants.unknown[1] }} 
                    {% else %}
                      {{ patient.visited_country[0] }}
                    {% endif %}
                  </td>                  
                </tr>
                {% endfor %}            
              </tbody>
            </table>
          </div>
        </div>
      </div>
  {% if current_user.is_admin %}
      <div class="col-xl-4">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">{{ _('Статистика') }}</h6>
                <h2 class="mb-0">{{ _('Инфицированы') }}</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <canvas id="chart-patients-infected"></canvas>
        </div>
      </div>
    </div>
    {% endif %}        
    </div>

    {% include "site_template/footer.html" %}

  </div>

{% endblock content %}

{% block javascripts %}
<script type="text/javascript">
ymaps.ready(init);

function init() {
    var myMap = new ymaps.Map("map", {
            center: [47.1605, 71.4704],
            zoom: 4,
            controls: ['zoomControl']
        }, {
            searchControlProvider: 'yandex#search'
        })

    clusterer = new ymaps.Clusterer({
            preset: 'islands#invertedVioletClusterIcons',
            clusterHideIconOnBalloonOpen: false,
            geoObjectHideIconOnBalloonOpen: false
        })

    clusterer.events
        // Можно слушать сразу несколько событий, указывая их имена в массиве.
        .add(['mouseenter', 'mouseleave'], function (e) {
            var target = e.get('target'),
                type = e.get('type');
            if (typeof target.getGeoObjects != 'undefined') {
                // Событие произошло на кластере.
                if (type == 'mouseenter') {
                    target.options.set('preset', 'islands#invertedPinkClusterIcons');
                } else {
                    target.options.set('preset', 'islands#invertedVioletClusterIcons');
                }
            } else {
                // Событие произошло на геообъекте.
                if (type == 'mouseenter') {
                    target.options.set('preset', 'islands#pinkIcon');
                } else {
                    target.options.set('preset', 'islands#violetIcon');
                }
            }
        });    

    geoObjects = []
    {% for p in coordinates_patients %}

    is_found = '{{ _("Нет") }}'
    if ('{{ p.is_found }}' == 'True') {
      is_found = '{{ _("Да") }}'
    }

    is_infected = '{{ _("Нет") }}'
    if ('{{ p.is_infected }}' == 'True') {
      is_infected = '{{ _("Да") }}'
    }

    {% if p.home_address %}
    geoObjects.push(new ymaps.Placemark(['{{ p.home_address.lat }}', '{{ p.home_address.lng }}' ], {
        balloonContentBody: 
        '<a href="/patient_profile?id={{p.id}}">{{ p }}</a><br>' +
        '<strong>{{ _("Регион") }}</strong>: {{ p.region }}<br>' +
        '<strong>{{ _("Адрес") }}</strong>: {{ p.home_address }}<br>' +
        '<strong>{{ _("Найден") }}</strong>: ' + is_found + '<br>' +
        '<strong>{{ _("Инфицирован") }}</strong>: ' + is_infected + '<br>' +
        '<strong>{{ _("Статус") }}</strong>: {{ p.status.name }}<br>',
        clusterCaption: '<strong>{{ p }}</strong>'
    }, {
        preset: 'islands#icon',
        {% if p.is_infected %}
        iconColor: 'red'
        {% else %}
        iconColor: 'green'
        {% endif %}            
    }))
    {% endif %}
    {% endfor %}

    clusterer.add(geoObjects);
    myMap.geoObjects.add(clusterer);     

}

colors = ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#b8860b", "#c45850", "#ff4500", "#f00f30", "#0000cd", 
          "#7cfc00", "#00fa9a", "#000fff", "#f08080", "#d8bfd8", "#ff00ff", "#1e90ff", "#ff1493", "#ee82ee"]

var not_found = document.getElementById("chart-patients-not-found")
not_found.height = 270;

new Chart(not_found, {
    type: 'pie',
    data: {    
      labels:       [
        {% for region in regions %}
                "{{ region }}", 
        {% endfor %}
      ],
      datasets: [{
        label: '{{ _("Найдены") }}',
        backgroundColor: colors,
        data: [
        {% for region in regions %}
                {{ regions[region][0] }}, 
        {% endfor %}
        ]
      }]
    },
    options: {
      title: {
        display: true,
        text: '{{ _("Найдены (по регионам)") }}'
      }
    }
});

var not_in_hospital = document.getElementById("chart-patients-infected")
not_in_hospital.height = 270;

new Chart(not_in_hospital, {
    type: 'pie',
    data: {    
      labels:       [
        {% for region in regions %}
                "{{ region }}", 
        {% endfor %}
      ],
      datasets: [{
        label: '{{ _("Инфицированы") }}',
        backgroundColor: colors,
        data: [
        {% for region in regions %}
                {{ regions[region][1] }}, 
        {% endfor %}
        ]
      }]
    },
    options: {
      title: {
        display: true,
        text: '{{ _("Инфицированы (по регионам)") }}'
      }
    }
});

</script>
{{ super()}}
{% endblock javascripts %}
