<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Метрики</title>
  <style>
    html, body, #viewDiv {
      padding: 0;
      margin: 0;
      height: 97%;
      width: 100%;
    }

    #viewDiv {
      max-width: 9000px;
      max-height: 500px;
      margin: 20px auto;
    }
  </style>
  <link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css">
  <script src="https://js.arcgis.com/4.15/"></script>

  <script>
    require([
		"esri/Map",
		"esri/views/MapView",
		"esri/layers/GeoJSONLayer",
    "esri/symbols/SimpleFillSymbol",
    "esri/renderers/ClassBreaksRenderer"


    ], function(
        Map, 
        MapView, 
        GeoJSONLayer,
        SimpleFillSymbol,
        ClassBreaksRenderer
        ) {
      

      const template = {
        title: "{name}",
        content: "<span style='color:red'>Зараженных {infected}</span> <br><span style='color:green'>Выздоровело {recovered} </span><br><span style='color:orange'>Активных случаев ?</span><br><span style='color:black'>Смертей {deaths}</span>",
        // content: getInfo,
        fieldInfos: [
          {
            fieldName: "time",
            format: {
              dateFormat: "short-date-short-time"
            }
          }
        ]
      };



      var regionsRenderer = {
        type: "simple",  // autocasts as new SimpleRenderer()
        symbol: { 
          type: "simple-fill",  
          outline: {  // autocasts as new SimpleLineSymbol()
            width: 0
          }
        },  // autocasts as new SimpleFillSymbol()
        visualVariables: [{
          type: "color",
          field: "infected",
          stops: [

            { value: 800, color: [ 255, 255, 255, 0.65 ] },
            { value: 6000, color: [ 255, 0, 0, 0.65 ] },
          ]
        }],
        backgroundFillSymbol: {
          type: "simple-fill",
          outline: {
            width: 1,
            color: "green"
          }
        }
      };



      const geojsonLayer = new GeoJSONLayer({
        // url: "/static/assets/js/region_outlines/regionsFeautre.geojson",
        url: "/static/assets/js/region_outlines/readable.regionsFeautre.geojson",
        // copyright: "USGS Earthquakes",
        popupTemplate: template,
        renderer: regionsRenderer
        // renderer: renderer2 //optional
      });

      const map = new Map({
        basemap: "gray",
        layers: [geojsonLayer]
      });

      const view = new MapView({
        container: "viewDiv",
        center: [67,48.14744],
        zoom: 5,
        map: map
      });
    });

  </script>
</head>
<body>
  <div id="viewDiv"></div>
</body>
</html> 