{% extends "base_site.html" %}

{% block title %} Icons {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

{% with stats=stats %}
{% include "site_template/top-stats.html" %}
{% endwith %}

<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">{{ _("Добавить Пользователя") }}</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <form id="add-patients" role="form" method="post" action="">
                {{ form.hidden_tag() }}
                <div class="row">
                  <div class="col">
                    <div class="card shadow">
                      <div class="card-header bg-transparent">
                        <div class="form-group">
                          <label for="name-input" class="form-control-label">{{ _("ФИО") }}*</label>
                          {{ form.full_name(placeholder="Иванов Иван Иванович",class="form-control", type="text") }}
                        </div>                        
                        <div class="form-group">
                          <label for="name-input" class="form-control-label">{{ _("Логин") }}*</label>
                          {{ form.username(placeholder="user1234",class="form-control", type="text") }}
                        </div>
                        <div class="form-group">
                          <label for="npass-input" class="form-control-label">{{ _("Пароль") }}*</label>
                          {{ form.password(placeholder=_("Пароль"), class="form-control", type="text") }}
                        </div>
                        <div class="form-group">
                          <label for="npass-input" class="form-control-label">{{ _("Электронная Почта") }}</label>
                          {{ form.email(placeholder="E-Mail", class="form-control", type="text") }}
                        </div>                                                                     
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow">
                      <div class="card-header bg-transparent">
                        <div class="form-group">
                          <label for="region-input" class="form-control-label">{{ _("Регион") }}*</label>
                          {{ form.region_id(class="form-control", id="region_id") }}                          
                        </div>
                        <div class="form-group">
                          <label for="phone-input" class="form-control-label">{{ _("Телефон") }}*</label>
                          {{ form.telephone(placeholder="77017123456", class="form-control", type="tel") }}
                        </div>
                        <div class="form-group">
                          <label for="npass-input" class="form-control-label">{{ _("Организация") }}*</label>
                          {{ form.organization(placeholder=_("Организация"), class="form-control", type="text") }}
                        </div>                        
                      </div>
                    </div>
                    <button type="submit" name="create" class="btn btn-primary mt-4" type="button" style="width:100%">
                        {{ _("Создать Пользователя") }}
                      </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "site_template/footer.html" %}

</div>        

{% endblock content %}

{% block javascripts %}
{{ super()}}

{% with change=change, error_msg=error_msg %}
{% include "site_template/change_notification.html" %}
{% endwith %}

{% endblock javascripts %}
