{% extends "base_site.html" %}

{% block title %} Icons {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

{% with stats=stats %}
{% include "site_template/top-stats.html" %}
{% endwith %}

{% if is_profile %}
<!-- Modal -->
<div class="modal fade" id="deletePatientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ _("Удалить роль?") }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        {{ _("Вы уверены, что хотите удалить роль") }} <bold> {{role.name}} </bold>?
      </div>
      <div class="modal-footer">
        <form action="/delete_user" method="POST">
          {{ form.hidden_tag() }}
          <input type="hidden" name="delete" value='{{ user.id }}'>
          <button type="submit" class="btn btn-primary">{{ _("Да") }}</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("Нет") }}</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          {% if is_profile %}
            <h3 class="mb-0">{{ _("Профиль Роли") }}</h3>
          {% else %}
            <h3 class="mb-0">{{ _("Добавить Роль") }}</h3>
          {% endif %}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <form id="add-patients" role="form" method="post" action="">
                {{ form.hidden_tag() }}
                <div class="row">
                  <div class="col">
                    <div class="card shadow">
                      <div class="card-header bg-transparent">
                        <div class="form-group">
                          <label for="name-input" class="form-control-label">{{ _("Имя Роли") }}*</label>
                          {{ form.name(placeholder=_("например Эпидемиолог"), class="form-control", type="text") }}
                        </div>                                                                  
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow">
                      <div class="card-header bg-transparent">
                        <div class="form-group">
                          <label for="name-input" class="form-control-label">{{ _("Код Роли (только английский)") }}*</label>
                          {{ form.value(placeholder=_("например epidemiolog"), class="form-control", type="text") }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow mt-3">
        <div class="card-header bg-transparent">
            <h3 class="mb-0">{{ _("Управление Правами Роли") }}</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
                <div class="row">
                  <div class="col">
                    <div class="card shadow">
                    <div class="card-header bg-transparent">
                        <h3 class="mb-0">{{ _("Добавление") }}</h3>
                    </div>
                      <div class="card-header bg-transparent">
                        <div class="row" style="margin-left:0px;margin-right:0px;">
                        <div class="col">
                          <div class="row">
                            <label for="name-input" class="form-control-label">{{ _("Авиа") }}</label>
                          </div>
                          <div class="row">
                            <label class="custom-toggle">
                              {{ form.can_add_air(type="checkbox", class="form-control") }}
                              <span class="custom-toggle-slider rounded-circle"></span>
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="row">
                            <label for="name-input" class="form-control-label">{{ _("Поезд") }}</label>
                          </div>
                          <div class="row">
                            <label class="custom-toggle">
                              {{ form.can_add_train(type="checkbox", class="form-control") }}
                              <span class="custom-toggle-slider rounded-circle"></span>
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="row">
                            <label for="name-input" class="form-control-label">{{ _("Авто") }}</label>
                          </div>
                          <div class="row">
                            <label class="custom-toggle">
                              {{ form.can_add_auto(type="checkbox", class="form-control") }}
                              <span class="custom-toggle-slider rounded-circle"></span>
                            </label>
                          </div>
                        </div> 
                        <div class="col">
                          <div class="row">
                            <label for="name-input" class="form-control-label">{{ _("Пешком") }}</label>
                          </div>
                          <div class="row">
                            <label class="custom-toggle">
                              {{ form.can_add_foot(type="checkbox", class="form-control") }}
                              <span class="custom-toggle-slider rounded-circle"></span>
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="row">
                            <label for="name-input" class="form-control-label">{{ _("Морской") }}</label>
                          </div>
                          <div class="row">
                            <label class="custom-toggle">
                              {{ form.can_add_sea(type="checkbox", class="form-control") }}
                              <span class="custom-toggle-slider rounded-circle"></span>
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="row">
                            <label for="name-input" class="form-control-label">{{ _("Местный") }}</label>
                          </div>
                          <div class="row">
                            <label class="custom-toggle">
                              {{ form.can_add_local(type="checkbox", class="form-control") }}
                              <span class="custom-toggle-slider rounded-circle"></span>
                            </label>
                          </div>
                        </div>                          
                        <div class="col">
                          <div class="row">
                            <label for="name-input" class="form-control-label">{{ _("Блокпост") }}</label>
                          </div>
                          <div class="row">
                            <label class="custom-toggle">
                              {{ form.can_add_blockpost(type="checkbox", class="form-control") }}
                              <span class="custom-toggle-slider rounded-circle"></span>
                            </label>
                          </div>
                        </div>                        
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
<div class="card shadow">
                    <div class="card-header bg-transparent">
                        <h3 class="mb-0">{{ _("Профили Пациентов") }}</h3>
                    </div>
                      <div class="card-header bg-transparent">
                        <div class="row" style="margin-left:0px;margin-right:0px;">
                        <div class="col">
                          <div class="row">
                            <label for="name-input" class="form-control-label">{{ _("Смотреть Свои Профили") }}</label>
                          </div>
                          <div class="row">
                            <label class="custom-toggle">
                              {{ form.can_lookup_own_patients(type="checkbox", class="form-control") }}
                              <span class="custom-toggle-slider rounded-circle"></span>
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="row">
                            <label for="name-input" class="form-control-label">{{ _("Смотреть Чужие Профили") }}</label>
                          </div>
                          <div class="row">
                            <label class="custom-toggle">
                              {{ form.can_lookup_other_patients(type="checkbox", class="form-control") }}
                              <span class="custom-toggle-slider rounded-circle"></span>
                            </label>
                          </div>
                        </div>                       
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>      
      
      <div class="card shadow mt-3">
        <div class="card-header bg-transparent">
          <div class="row">
            {% if is_profile %}
            <div class="col">
              <button type="submit" name="update" class="btn btn-primary btn-full-width" type="button">
                {{ _("Сохранить") }}
              </button>
            </div>
              {% if current_user.is_admin %}
              <div class="col">
                <input class="btn btn-danger btn-full-width" data-toggle="modal" data-target="#deletePatientModal" value={{ _("Удалить Роль") }}>
              </div>
              {% endif %}
            {% else %}
            <div class="col">
              <button type="submit" name="create" class="btn btn-primary btn-full-width" type="button">
                {{ _("Создать Роль") }}
              </button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>

  {% include "site_template/footer.html" %}

</div>        

{% endblock content %}

{% block javascripts %}
{{ super()}}

{% with change=change, error_msg=error_msg %}
{% include "site_template/change_notification.html" %}
{% endwith %}

{% endblock javascripts %}
