{% extends "base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  {% include "site_template/navigation.html" %}

  {% with stats=stats %}
    {% include "site_template/top-stats.html" %}
  {% endwith %}

  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl mb-5">
          <div class="card shadow">
                      <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="mb-0">Карта Пациентов</h2>
              </div>
            </div>
          </div>

           <div id="map" style="width:100%; height:500px"></div>

            <!-- <div id="map" class="map-canvas"></div> -->
          </div>
      </div>
      <div class="col-xl-4">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Статистика</h6>
                <h2 class="mb-0">Не Найдены</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <canvas id="not-found"></canvas>
            </div>

        </div>
      </div>
    </div>      
    </div>

    <div class="row mt-5">
      <div class="col-xl mb-5">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Новые пациенты</h3>
              </div>
              <div class="col text-right">
                <a href="/tables" class="btn btn-sm btn-primary">Все Пациенты</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">ФИО</th>
                  <th scope="col">Найден</th>
                  <th scope="col">Госпитализирован</th>
                  <th scope="col">Место госпитализации</th>
                  <th scope="col">Прилетел из</th>
                </tr>
              </thead>
              <tbody>
              {% for patient in last_five_patients %}
                <tr>
                  <th scope="row">
                    <a href="/patient_profile?id={{patient.id}}">
                      {{ patient.full_name }}
                    </a>
                  </th>
                  <td>
                    {% if patient.is_found %}
                      <font color="green">Да</font>
                    {% else %}
                      <font color="red">Нет</font>
                    {% endif %}
                  </td>
                  <td>
                    {% if patient.in_hospital %}
                      <font color="green">Да</font>
                    {% else %}
                      <font color="red">Нет</font>
                    {% endif %}
                  </td>
                  <td>
                    {{ patient.hospital }}
                  </td>
                  <td>
                    {{ patient.visited_country }}
                  </td>                  
                </tr>
                {% endfor %}            
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Статистика</h6>
                <h2 class="mb-0">Не Госпитализированы</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <canvas id="not-in-hospital"></canvas>
            </div>

        </div>
      </div>
    </div>        
    </div>

    {% include "site_template/footer.html" %}

  </div>

{% endblock content %}

        


{% block javascripts %}
<script type="text/javascript">
  var map;

  DG.then(function () {
      map = DG.map('map', {
          center: [54.98, 82.89],
          zoom: 13
      });
  });


new Chart(document.getElementById("not-found"), {
    type: 'pie',
    data: {    
      labels:       [
        {% for region in regions %}
                "{{ region }}", 
        {% endfor %}
      ],
      datasets: [{
        label: "Не найдены",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [
        {% for region in regions %}
                {{ regions[region][0] }}, 
        {% endfor %}
        ]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Не найдены (по регионам)'
      }
    }
});

new Chart(document.getElementById("not-in-hospital"), {
    type: 'pie',
    data: {    
      labels:       [
        {% for region in regions %}
                "{{ region }}", 
        {% endfor %}
      ],
      datasets: [{
        label: "Не найдены",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [
        {% for region in regions %}
                {{ regions[region][1] }}, 
        {% endfor %}
        ]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Не найдены (по регионам)'
      }
    }
});

</script>
{{ super()}}
{% endblock javascripts %}
