{% extends "base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  {% include "site_template/navigation.html" %}

  {% with stats=stats %}
    {% include "site_template/top-stats.html" %}
  {% endwith %}

  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl mb-5">
          <div class="card shadow">
                      <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="mb-0">Карта Пациентов</h2>
              </div>
            </div>
          </div>
           <div id="map" style="width:100%; height:500px"></div>
          </div>
      </div>
      <div class="col-xl-4">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Статистика</h6>
                <h2 class="mb-0">Не Найдены</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <canvas id="not-found"></canvas>
            </div>

        </div>
      </div>
    </div>      
    </div>

    <div class="row mt-5">
      <div class="col-xl mb-5">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Новые пациенты</h3>
              </div>
              <div class="col text-right">
                <a href="/tables" class="btn btn-sm btn-primary">Все Пациенты</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">ФИО</th>
                  <th scope="col">Найден</th>
                  <th scope="col">Госпитализирован</th>
                  <th scope="col">Место госпитализации</th>
                  <th scope="col">Прилетел из</th>
                </tr>
              </thead>
              <tbody>
              {% for patient in last_five_patients %}
                <tr>
                  <th scope="row">
                    <a href="/patient_profile?id={{patient.id}}">
                      {{ patient.full_name }}
                    </a>
                  </th>
                  <td>
                    {% if patient.is_found %}
                      <font color="green">Да</font>
                    {% else %}
                      <font color="red">Нет</font>
                    {% endif %}
                  </td>
                  <td>
                    {% if patient.status.value == constants.in_hospital[0] %}
                      <font color="green">Да</font>
                    {% else %}
                      <font color="red">Нет</font>
                    {% endif %}
                  </td>
                  <td>
                    {{ patient.hospital }}
                  </td>
                  <td>
                    {{ patient.visited_country }}
                  </td>                  
                </tr>
                {% endfor %}            
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Статистика</h6>
                <h2 class="mb-0">Не Госпитализированы</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <canvas id="not-in-hospital"></canvas>
            </div>

        </div>
      </div>
    </div>        
    </div>

    {% include "site_template/footer.html" %}

  </div>

{% endblock content %}

        


{% block javascripts %}
<script type="text/javascript">
ymaps.ready(init);

function init() {
    var myMap = new ymaps.Map("map", {
            center: [47.1605, 71.4704],
            zoom: 4,
            controls: ['zoomControl']
        }, {
            searchControlProvider: 'yandex#search'
        })

    clusterer = new ymaps.Clusterer({
            preset: 'islands#invertedVioletClusterIcons',
            clusterHideIconOnBalloonOpen: false,
            geoObjectHideIconOnBalloonOpen: false
        })

    clusterer.events
        // Можно слушать сразу несколько событий, указывая их имена в массиве.
        .add(['mouseenter', 'mouseleave'], function (e) {
            var target = e.get('target'),
                type = e.get('type');
            if (typeof target.getGeoObjects != 'undefined') {
                // Событие произошло на кластере.
                if (type == 'mouseenter') {
                    target.options.set('preset', 'islands#invertedPinkClusterIcons');
                } else {
                    target.options.set('preset', 'islands#invertedVioletClusterIcons');
                }
            } else {
                // Событие произошло на геообъекте.
                if (type == 'mouseenter') {
                    target.options.set('preset', 'islands#pinkIcon');
                } else {
                    target.options.set('preset', 'islands#violetIcon');
                }
            }
        });    

    geoObjects = []
    {% for p in coordinates_patients %}

    is_found = "Нет"
    if ('{{ p.is_found }}' == 'True') {
      is_found = "Да"
    }
    geoObjects.push(new ymaps.Placemark(['{{ p.address_lat }}', '{{ p.address_lng }}' ], {
        balloonContentBody: 
        '<a href="/patient_profile?id={{p.id}}">Профиль Пациента</a><br>' +
        '<strong>Регион</strong>: {{ p.region }}<br>' +
        '<strong>Адрес</strong>: {{ p.home_address }}<br>' +
        '<strong>Найден?</strong>:' + is_found + '<br>' +
        '<strong>Статус</strong>: {{ p.status.name }}<br>',
        clusterCaption: '<strong>{{ p.full_name }}</strong>'
    }, {
        preset: 'islands#icon',
        {% if not p.is_found and not p.status.value == constants.in_hospital[0] %}
        iconColor: 'red'
        {% elif p.is_found and not p.status.value == constants.in_hospital[0] and not p.status.value == constants.is_home[0] %}
        iconColor: 'yellow'
        {% else %}
        iconColor: 'green'
        {% endif %}            
    }))
    {% endfor %}

    clusterer.add(geoObjects);
    myMap.geoObjects.add(clusterer);     

}
new Chart(document.getElementById("not-found"), {
    type: 'pie',
    data: {    
      labels:       [
        {% for region in regions %}
                "{{ region }}", 
        {% endfor %}
      ],
      datasets: [{
        label: "Не найдены",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [
        {% for region in regions %}
                {{ regions[region][0] }}, 
        {% endfor %}
        ]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Не найдены (по регионам)'
      }
    }
});

new Chart(document.getElementById("not-in-hospital"), {
    type: 'pie',
    data: {    
      labels:       [
        {% for region in regions %}
                "{{ region }}", 
        {% endfor %}
      ],
      datasets: [{
        label: "Не найдены",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [
        {% for region in regions %}
                {{ regions[region][1] }}, 
        {% endfor %}
        ]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Не найдены (по регионам)'
      }
    }
});

</script>
{{ super()}}
{% endblock javascripts %}
