{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

<!-- Header -->
{% include "site_template/top-stats.html" %}

<!-- Modal -->
<div class="modal fade" id="deletePatientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Удалить пациента?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
      </button>
  </div>
  <div class="modal-body">
    Вы уверены, что хотите удалить пациента <bold> {{patient.full_name}} </bold>?
</div>
<div class="modal-footer">
    <form action="/delete_patient" method="POST">
        {{ form.hidden_tag() }}
        <input type="hidden" name="delete" value='{{ patient.id }}'>
        <button type="submit" class="btn btn-primary">Да</button>
    </form>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
</div>
</div>
</div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
    {% if updated %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="alert-icon"><i class="ni ni-like-2"></i></span>
        <span class="alert-text">Данные успешно обновлены</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        {% if patient.address_lat %}
          <div class="card shadow">
             <div id="map" style="width:100%; height:220px"></div>
         </div>
         <div class="card card-profile shadow mt-3">
        {% else %}
        <div class="card card-profile shadow mt-0">
        {% endif %} 
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">

                </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
                <div class="text-center">
                    <h3>
                        {{ patient.full_name }} | {{ age }} лет<span class="font-weight-light"></span>
                    </h3>
                    <form method="POST">            
                      <div class="row">
                        <div class="col">
                          <div class="custom-control custom-checkbox">
                            {{ form.is_found(class="custom-control-input", id="is_found_checkbox", onchange="found_changed($(this).prop('checked'))") }}
                            <label class="custom-control-label" for="is_found_checkbox">Найден</label>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <div class="row">
                    <div class="col">
                        <div class="custom-control custom-checkbox">
                            {{ form.in_hospital(class="custom-control-input", id="in_hospital_checkbox") }}                    
                            <label class="custom-control-label" for="in_hospital_checkbox">Госпитализирован</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-control custom-checkbox">
                            {{ form.is_home(class="custom-control-input", id="is_home", onchange="status_exclusive_checkbox($(this))") }}
                            <label class="custom-control-label" for="is_home">Домашний Карантин</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-control custom-checkbox">
                            {{ form.is_transit(class="custom-control-input", id="is_transit", onchange="status_exclusive_checkbox($(this))") }}
                            <label class="custom-control-label" for="is_transit">Транзит</label>
                        </div>
                    </div>                    
                </div>                    
                <hr class="my-4" />
                <div class="col mt-3">
                  <div class="form-group">
                    <label for="job-input" class="form-control-label">Регион Госпитализации</label>
                    {{ form.hospital_region_id(class="form-control", id="hospital_region_id") }}
                </div>
                <div class="form-group">
                    <label for="job-input" class="form-control-label">Тип Больницы</label>
                    {{ form.hospital_type(class="form-control", id="hospital_type") }}
                </div>
                <div class="form-group">
                    <label for="job-input" class="form-control-label"><a href="/hospital_profile?id={{ patient.hospital_id }}">Место Госпитализации</a></label>
                    {{ form.hospital_id(class="form-control", id="hospital_select") }}
                </div>
                <hr class="my-4" />                    
            </div>
            <div class="row  mt-3">
                <div class="col">
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Обновить">
                </div>
                <div class="col">
                    <input class="btn btn-danger" data-toggle="modal" data-target="#deletePatientModal" value="Удалить Пациента">
                </div>                            
            </div>
        </form>
    </div>
</div>
</div>

</div>
<div class="col-xl-8 order-xl-1">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Профиль Пациента</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form>
                <h6 class="heading-small text-muted mb-4">Личные Данные</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-iin">ИИН</label>
                                <input type="text" id="input-iin" class="form-control form-control-alternative" disabled value="{{ patient.iin }}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-dob">Дата Рождения</label>
                                <input type="text" id="input-dob" class="form-control form-control-alternative" disabled value="{{ patient.dob }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-citizenship">Гражданство</label>
                                <input type="text" id="input-citizenship" class="form-control form-control-alternative" disabled value="{{ patient.citizenship }}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-pass-num">Номер Паспорта</label>
                                <input type="text" id="input-pass-num" class="form-control form-control-alternative" disabled value="{{ patient.pass_num }}">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Контактная Информация</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input-home_address">Место жительства / возможное место проживания</label>
                                <input type="text" id="input-home_address" class="form-control form-control-alternative" disabled value="{{ patient.home_address }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="input-region">Регион</label>
                                <input type="text" id="input-region" class="form-control form-control-alternative" disabled value="{{ patient.region }}">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="input-job">Место Работы</label>
                                <input type="text" id="input-job" class="form-control form-control-alternative" disabled value="{{ patient.job }}">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="input-telephone">Телефон</label>
                                <input type="text" id="input-telephone" class="form-control form-control-alternative" disabled value="{{ patient.telephone }}">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">Информация о Въезде</h6>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-arrival-date">Дата Въезда</label>
                            <input type="text" id="input-arrival-date" class="form-control form-control-alternative" disabled value="{{ patient.arrival_date }}">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-flight-code">Номер Рейса</label>
                            <input type="text" id="input-flight-code" class="form-control form-control-alternative" disabled value="{{ patient.flight_code }}">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-visited-country">Из Страны</label>
                            <input type="text" id="input-visited-country" class="form-control form-control-alternative" disabled value="{{ patient.visited_country }}">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% include "site_template/footer.html" %}

</div>    

{% endblock content %}

{% block javascripts %}
{{ super()}}

<script type="text/javascript">
    if ({{ patient.address_lat }}) {
        ymaps.ready(init);

        function init() {
        var myMap = new ymaps.Map("map", {
                center: [{{ patient.address_lat }}, {{ patient.address_lng }}],
                zoom: 12,
                controls: ['zoomControl']
            }, {
                searchControlProvider: 'yandex#search'
            })

        myMap.geoObjects
            .add(new ymaps.Placemark([{{ patient.address_lat }}, {{ patient.address_lng }} ], {
                balloonContent: '{{ patient.full_name }}</a>'
            }, {
                preset: 'islands#icon',
                iconColor: 'red'
            }))
        }
    }

    $("#in_hospital_checkbox").on("change", function(){
        status_exclusive_checkbox($("#in_hospital_checkbox"))
        disable_hospital_choice($("#in_hospital_checkbox").prop('checked'))
    });

    function status_exclusive_checkbox(checkbox) {
        if(checkbox.prop('checked')) {
            checkboxes = [$("#in_hospital_checkbox"), $("#is_home"), $("#is_transit")]
            for (i = 0; i < checkboxes.length; i++) {
                if (!checkboxes[i].is(checkbox)) {
                    checkboxes[i].prop('checked', false).change()
                }
            }
        }
    }

    function found_changed(value) {
        disable = true;
        if (value == 1 || value == true) {
            disable = false;
        } else {
            $("#in_hospital_checkbox").prop('checked', false)
            $("#is_home").prop('checked', false)
            $("#is_transit").prop('checked', false)
        }

        document.getElementById('in_hospital_checkbox').disabled = disable;

        document.getElementById('is_home').disabled = disable;
        document.getElementById('is_transit').disabled = disable;
        
        disable_hospital_choice($("#in_hospital_checkbox").prop('checked'))
    }

    function disable_hospital_choice(value) {
        disable = true;
        if (value == 1 || value == "True") {
            disable = false;
        }

        document.getElementById('hospital_region_id').disabled = disable;
        document.getElementById('hospital_type').disabled = disable;
        document.getElementById('hospital_select').disabled = disable;
    }

    function update_hospitals_list(){
        $.ajax({
          type: 'POST',
          url: "/get_hospital_by_region",
          data: {region_id: $("#hospital_region_id").val(), hospital_type_id: $("#hospital_type").val()},
          dataType: "text",
          success: function(data){
            document.getElementById("hospital_select").innerHTML = data.toString();
        }
    });
    };

// $("#hospital_region_id").on("click", update_hospitals_list());
$("#hospital_region_id").on("change", function(){
  update_hospitals_list();
});
$("#hospital_type").on("change", function(){
  update_hospitals_list();
});

window.onload = function() {
    // alert('{{ patient.hospital.hospital_nomenklatura_id }}')
    // $("#hospital_region_id").val('{{ patient.hospital.region_id }}')
    disable_hospital_choice($("#in_hospital_checkbox").prop('checked'))
    // update_hospitals_list()  
}

</script>
{% endblock javascripts %}
