
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              {{ _("Сделано с помощью") }} <a href="https://appseed.us/admin-dashboards/flask-boilerplate-dashboard-argon" class="ml-1" >Flask Boilerplate Dashboard Argon</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                {{ _("Дизайн от") }} &copy; <a href="https://www.creative-tim.com/product/argon-dashboard">Creative Tim</a> | {{ _("Разработано") }} <a href="https://github.com/thelastpolaris">thelastpolaris</a>, 
                <a href="https://github.com/atlekbai">atlekbai</a>, <a href="https://github.com/ddagar">ddagar</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
