{% extends "base_site.html" %}

{% block title %} Icons {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

{% with stats=stats %}
{% include "site_template/top-stats.html" %}
{% endwith %}

<!-- Modal -->
<div class="modal fade" id="addPatientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="loader" id="submit_loader"></div>
    <div class="modal-content" style="position:relative;">     
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ _("Добавить пациента?") }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body" id="add_check_body">

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="submit_button" onclick='submit_new_patient()'>{{ _("Да") }}</button>
        <button type="button" class="btn btn-secondary" id="cancel_button" data-dismiss="modal">{{ _("Нет") }}</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  {% if added %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
    <span class="alert-text">{{ _("Пациент добавлен в базу данных") }}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  {% if error_msg %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <span class="alert-icon"><i class="fas fa-exclamation-circle"></i></span>
    <span class="alert-text">{{ error_msg }}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  
  <form id="add_patients" role="form" method="post" action="">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">{{ _("Выбрать Тип Въезда") }}</h3>
          </div>
          <div class="card-body">
            <div class="row" id="travel_form">
              <div class="col">                        
                <div class="form-group">
                  <label for="flight-no-input" class="form-control-label">{{ _("Тип Въезда в Страну") }}*</label>
                  {{ form.travel_type(class="form-control") }}
                </div>
              </div>                                  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-2">{{ _("Информация о Пациенте") }}</h3><h5>{{ _("* - обязательная к заполнению информация") }}</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                {{ form.hidden_tag() }}
                <div class="row">
                  <div class="col">
                    <div class="card shadow">
                      <div class="card-header bg-transparent">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label for="name-input" class="form-control-label">{{ _("Имя") }}*</label>
                              {{ form.first_name(placeholder=_("Иван"),class="form-control", type="text") }}
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="name-input" class="form-control-label">{{ _("Фамилия") }}*</label>
                              {{ form.second_name(placeholder=_("Иванов"),class="form-control", type="text") }}
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="name-input" class="form-control-label">{{ _("Отчество") }}</label>
                              {{ form.patronymic_name(placeholder=_("Иванович"),class="form-control", type="text") }}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-auto">
                            <div class="form-group">
                              <label class="form-control-label">{{ _("Пол") }}*</label><br>
                              {% for subfield in form.gender %}
                              <div class="custom-control custom-radio custom-control-inline">
                                {{ subfield(type="radio", id=subfield.id, class="custom-control-input") }}
                                <label class="custom-control-label" for='{{ subfield.id }}'>{{ subfield.label }}</label>
                              </div>
                              {% endfor %}
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="dob-input" class="form-control-label">{{ _("Дата Рождения") }}*</label>
                              {{ form.dob(class="form-control", type="date") }}
                            </div>
                          </div>
                        </div>                                         
                        <div class="form-group">
                          <label for="iin-input" class="form-control-label">{{ _("ИИН") }}</label>
                          {{ form.iin(placeholder=_("12 Цифр"),class="form-control", type="text", onkeyup="this.value=this.value.replace(/[^0-9]/g,'');") }}
                        </div>
                        <div class="form-group">
                          <label for="citizenship-input" class="form-control-label">{{ _("Гражданство") }}*</label>
                          {{ form.citizenship_id(class="form-control") }}
                        </div>
                        <div class="form-group">
                          <label for="npass-input" class="form-control-label">{{ _("Номер Паспорта") }}</label>
                          {{ form.pass_num(placeholder=_("N12345678"), class="form-control", type="text") }}
                        </div>
                        <div class="form-group">
                          <label for="citizenship-input" class="form-control-label">{{ _("Страна Проживания") }}*</label>
                          {{ form.country_of_residence_id(class="form-control") }}
                        </div>
                        <label for="home-input" class="form-control-label">{{ _("Место жительства / возможное место проживания") }}*</label>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label for="home-input" class="form-control-label">{{ _("Страна") }}*</label>
                              {{ form.home_address_country_id(class="form-control") }}
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="home-input" class="form-control-label">{{ _("Область") }}</label>
                              {{ form.home_address_state(class="form-control", type="text" ) }}
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="home-input" class="form-control-label">{{ _("Город") }}*</label>
                              {{ form.home_address_city(class="form-control", type="text" ) }}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl">
                            <div class="form-group">
                              <label for="home-input" class="form-control-label">{{ _("Улица") }}*</label>
                              {{ form.home_address_street(class="form-control", type="text", placeholder=_("Байтурсынова") ) }}
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-group">
                              <label for="home-input" class="form-control-label">{{ _("Дом") }}*</label>
                              {{ form.home_address_house(class="form-control", type="text", placeholder=_("1") ) }}
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-group">
                              <label for="home-input" class="form-control-label">{{ _("Квартира") }}</label>
                              {{ form.home_address_flat(class="form-control", type="text", placeholder=_("2") ) }}
                            </div>
                          </div>                                                    
                          <div class="col-sm-2">
                            <div class="form-group">
                              <label for="home_address_building" class="form-control-label">{{ _("Корпус") }}</label>
                              {{ form.home_address_building(class="form-control", type="text", placeholder=_("3") ) }}
                            </div>
                          </div>                          
                        </div>                          
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow">
                      <div class="card-header bg-transparent">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label for="14days-place-input" class="form-control-label">{{ _("Визиты за последние 14 дней") }}</label>
                              {{ form.visited_country_id(class="form-control") }}
                            </div>
                          </div>
                          <div class="col-md-auto">
                            <div class="form-group">
                              <label for="dob-input" class="form-control-label">{{ _("С") }}</label>
                              {{ form.visited_from_date(class="form-control", type="date") }}
                            </div>
                          </div>
                          <div class="col-md-auto">
                            <div class="form-group">
                              <label for="dob-input" class="form-control-label">{{ _("По") }}</label>
                              {{ form.visited_to_date(class="form-control", type="date") }}
                            </div>
                          </div>                          
                        </div>
                        <div class="form-group">
                          <label for="region-input" class="form-control-label">{{ _("Регион к Которому Относится Пациент") }}*</label>
                          {{ form.region_id(class="form-control", id="region_id") }}                          
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label for="job-input" class="form-control-label">{{ _("Место Работы/Учебы") }}*</label>
                              {{ form.job(class="form-control", type="text", placeholder=_("Школа 20") ) }}
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="job-input" class="form-control-label">{{ _("Должность") }}</label>
                              {{ form.job_position(class="form-control", type="text", placeholder=_("Директор") ) }}
                            </div>
                          </div>
                        </div>                        
                        <label for="home-input" class="form-control-label">{{ _("Адрес организации/учебного заведения") }}</label>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label for="home-input" class="form-control-label">{{ _("Страна") }}</label>
                              {{ form.job_address_country_id(class="form-control") }}
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="home-input" class="form-control-label">{{ _("Область") }}</label>
                              {{ form.job_address_state(class="form-control", type="text" ) }}
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="home-input" class="form-control-label">{{ _("Город") }}</label>
                              {{ form.job_address_city(class="form-control", type="text" ) }}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl">
                            <div class="form-group">
                              <label for="home-input" class="form-control-label">{{ _("Улица") }}</label>
                              {{ form.job_address_street(class="form-control", type="text", placeholder=_("Байтурсынова") ) }}
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-group">
                              <label for="home-input" class="form-control-label">{{ _("Дом") }}</label>
                              {{ form.job_address_house(class="form-control", type="text", placeholder=_("1") ) }}
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-group">
                              <label for="home-input" class="form-control-label">{{ _("Квартира") }}</label>
                              {{ form.job_address_flat(class="form-control", type="text", placeholder=_("2") ) }}
                            </div>
                          </div>                                                    
                          <div class="col-sm-2">
                            <div class="form-group">
                              <label for="home_address_building" class="form-control-label">{{ _("Корпус") }}</label>
                              {{ form.job_address_building(class="form-control", type="text", placeholder=_("3") ) }}
                            </div>
                          </div>                          
                        </div>                        
                        <div class="form-group">
                          <label for="phone-input" class="form-control-label">{{ _("Телефон") }}*</label>
                          {{ form.telephone(placeholder=_("77017123456"), class="form-control", type="tel") }}
                        </div>                        
                        <div class="form-group">
                          <label for="phone-input" class="form-control-label">{{ _("E-Mail") }}</label>
                          {{ form.email(placeholder=_("test@gmail.com"), class="form-control", type="email") }}
                        </div>                           
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col">
                    <div class="card shadow">
                      <div class="card-header bg-transparent">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label class="form-control-label">{{ _("Найден?") }}</label><br>
                                {% for subfield in form.is_found %}
                                <div class="custom-control custom-radio custom-control-inline">
                                  {{ subfield(type="radio", id=subfield.id, class="custom-control-input", onchange="disable_status(value)" ) }}
                                  <label class="custom-control-label" for='{{ subfield.id }}'>{{ subfield.label }}</label>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label class="form-control-label">{{ _("Инфицирован?") }}</label><br>
                                {% for subfield in form.is_infected %}
                                <div class="custom-control custom-radio custom-control-inline">
                                  {{ subfield(type="radio", id=subfield.id, class="custom-control-input") }}
                                  <label class="custom-control-label" for='{{ subfield.id }}'>{{ subfield.label }}</label>
                                </div>
                                {% endfor %}
                              </div>
                            </div>                            
                            <div class="col">
                              <div class="form-group">
                                <label class="form-control-label">{{ _("Статус Нахождения") }}</label><br>
                                {{ form.patient_status(class="form-control", id="patient_status") }}
                              </div>
                            </div>                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="card shadow" style="height:100%;">
                      <div class="card-header bg-transparent" style="height:100%;">
                        <div class="card-body" style="height:100%;">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label for="job-input" class="form-control-label">{{ _("Регион Госпитализации") }}</label>
                                {{ form.hospital_region_id(class="form-control", id="hospital_region_id") }}
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label for="job-input" class="form-control-label">{{ _("Тип Больницы") }}</label>
                                <select class="form-control" id="hospital_type" name="hospital_region_id" required="">
                                  {% for subfield in hospital_types %}
                                  <option value={{ subfield[0] }}>{{ subfield[1] }}</option>
                                  {% endfor %}
                                </select>                                
                              </div>
                            </div>                            
                            <div class="col">
                              <div class="form-group">
                                <label for="job-input" class="form-control-label">{{ _("Место Госпитализации") }}</label>
                                {{ form.hospital_id(class="form-control", id="hospital_select") }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                  <div class="col-md-auto">
                    <button id="open_modal_add_patient" class="btn btn-primary" data-toggle="modal" data-target="#addPatientModal" class="btn btn-primary" type="button" style="height:100%; width:100%;">
                      {{ _("Отправить") }}
                    </button>
                  </div>
                  <button type="submit" id="hiddenSubmit" style="display:none;"></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% include "site_template/footer.html" %}

</div>        

{% endblock content %}

{% block javascripts %}
{{ super()}}

<script type="text/javascript">
  {% with form=form, c=c %}
  {% include "js/travel_form.html" %}
  {% endwith %}

  disable_hospital_choice(0)
  
  update_hospitals_list()
  update_travel_form()

  disable_status($("#hospital_select").val())

  function disable_status(value) {
    disable = true
    if (value == 1) {
      disable = false
    } else {
      $('#patient_status').prop('selectedIndex', 0).change();
      // document.getElementById('in_hospital-0').checked = false;
      // document.getElementById('in_hospital-1').checked = false;
      // disable_hospital_choice(value)
    }

    document.getElementById('patient_status').disabled = disable;
    // document.getElementById('in_hospital-1').disabled = disable;    
  }

  function disable_in_hospital(value) {
    disable = true
    if (value == 1) {
      disable = false
    } else {
      document.getElementById('in_hospital-0').checked = false;
      document.getElementById('in_hospital-1').checked = false;
      disable_hospital_choice(value)
    }

    document.getElementById('in_hospital-0').disabled = disable;
    document.getElementById('in_hospital-1').disabled = disable;
  }

  function disable_hospital_choice(value) {
    disable = true;
    if (value == 1) {
      disable = false;
    }

    document.getElementById('hospital_region_id').disabled = disable;
    document.getElementById('hospital_type').disabled = disable;
    document.getElementById('hospital_select').disabled = disable;
  }

  function update_hospitals_list(){
    $.ajax({
      type: 'POST',
      url: "/get_hospital_by_region",
      data: {region_id: $("#hospital_region_id").val(), hospital_type_id: $("#hospital_type").val()},
      dataType: "text",
      success: function(data){
        document.getElementById("hospital_select").innerHTML = data.toString();
      }
    });
  };

  function show_loader(show) {
    var loader = $("#submit_loader")
    var submit_button = $("#submit_button")
    var cancel_button = $("#cancel_button")
    
    var z = 0

    if (show == true) {
      z = 1

      submit_button.addClass("disabled")
      cancel_button.addClass("disabled")
    } else {
      submit_button.removeClass("disabled")
      cancel_button.removeClass("disabled")
    }

    loader.css("z-index", z)
  }

  function submit_new_patient() {
    show_loader(true)

    $.post($("#add_patients").attr('action'), $("#add_patients").serialize() + '&create', function(res){
      // Do something with the response `res`
      if (res.patient_id !== undefined) {
        $.notify({
          // options
          icon: 'fa fa-thumbs-up',
          message: `<a href="\patient_profile?id=${res.patient_id}">{{ _("Пациент") }}</a> {{ _("добавлен в базу данных") }}`
        },{
          // settings
          type: 'info',
        });
        show_loader(false)
        reset_add_patient_form()
        $("#addPatientModal").modal('hide');
      }
    });
  }

  function reset_add_patient_form() {
    var travel_type = $("#travel_type").val()
    var backup_values = {}

    if (travel_type === '{{c.flight_type[0]}}') {
      backup_values["#flight_arrival_date"] = $("#flight_arrival_date").val()
      backup_values["#flight_code_id"] = $("#flight_code_id").val()
    } else {
      backup_values["#arrival_date"] = $("#arrival_date").val()
      var border_form_id = null

      switch(travel_type) {
        case '{{c.by_auto_type[0]}}':
        border_form_id = "#auto_border_id"
        break;
        case '{{c.by_foot_type[0]}}':
        border_form_id = "#foot_border_id"
        break;
        case '{{c.by_sea_type[0]}}':
        border_form_id = "#sea_border_id"
        break;
      }

      if (border_form_id) backup_values[border_form_id] = $(border_form_id).val()
    }

  $("#add_patients")[0].reset();

  $("#travel_type").val(travel_type)

  for (var key in backup_values) {
    if (backup_values.hasOwnProperty(key)) {
      $(key).val(backup_values[key])
    }
  }
}

$("#add_patients").on("reset", function(){
  $("#is_found-0").change()
  $("#is_found-1").change()
});

$("#hospital_region_id").on("change", function(){
  update_hospitals_list();
});

$("#hospital_type").on("change", function(){
  update_hospitals_list();
});

$("#travel_type").on("change", function(){
  update_travel_form();
});

$("#patient_status").on("change", function(){
  disable_hospital_choice($(this).val() === 'in_hospital')
});

$("#open_modal_add_patient").on("click", function(e){
 if ($("#add_patients")[0].checkValidity() === false) {
  e.stopPropagation();
  $("#hiddenSubmit")[0].click()
} else {
  var addCheckBody = document.getElementById("add_check_body")
  addCheckBody.innerHTML = `<b>{{ _("ФИО") }}:</b> ${$("#first_name").val()} ${$("#second_name").val()} ${$("#patronymic_name").val()} <br>`
  addCheckBody.innerHTML += `<b>{{ _("Тип Въезда в Страну") }}:</b> ` + $("#travel_type option:selected").text() + `<br>`
}
});

</script>

{% endblock javascripts %}