{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

{% include "site_template/top-stats.html" %}

<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">{{ _('Карта Контактных Пациентов') }}
                {% if not main_patient.home_address.lat %}
                  {{ _("(Координаты нулевого пациента отсутствуют)") }}
                {% endif %}
              </h2>
            </div>
          </div>
        </div>
        <div id="map" style="width:100%; height:500px"></div>
      </div>
      {% if infected_contact %}
      <div class="card shadow mt-4">
        <div class="card-header border-0">
          <div class="row">
            <div class="col">
              <h3 class="mb-0">{{ _('Контактировал С') }}</h3>
            </div>
          
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{ _("ФИО") }}</th>
                <th scope="col">{{ _("Телефон") }}</th>
                <th scope="col">{{ _("Тип Въезда") }}</th>
                <th scope="col">{{ _("Регион") }}</th>
                <th scope="col">{{ _("Найден") }}</th>
                <th scope="col">{{ _("Госпитализирован") }}</th>
              </tr>
            </thead>
            <tbody>
              {% for patient in infected_contact %}
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm"><a href="/patient_profile?id={{patient.infected_patient.id}}">{{ patient.infected_patient }}</a></span>
                    </div>
                  </div>
                </th>
                <td>
                  {{ patient.infected_patient.telephone }}
                </td>
                <td>
                  {{ patient.infected_patient.travel_type }}
                </td>
                <td>
                  {{ patient.infected_patient.region }}
                </td>
                <td>
                  {% if patient.infected_patient.is_found %}
                  <font color="green">{{ _("Да") }}</font>
                  {% else %}
                  <font color="red">{{ _("Нет") }}</font>
                {% endif %}                        </td>
                <td>
                  {% if patient.infected_patient.status.value == constants.in_hospital[0] %}
                  <font color="green">{{ _("Да") }}</font>
                  {% else %}
                  <font color="red">{{ _("Нет") }}</font>
                {% endif %}                        </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
      <div class="mt-3">
      {% with table=contacted_patients_table, hidden_values=[("id", main_patient.id)],
       search_fields = [[
          [_("ФИО"), contacted_search_form.full_name(class="form-control", type="text", placeholder=_("ФИО"))],
          [_("Регион"), contacted_search_form.region_id(class="form-control")],
          [_("Найден"), contacted_search_form.is_found(class="form-control")]]
      ] 
      %}
        {% include "modules/table/table.html" %}
      {% endwith %}
      </div>  
    </div>
  </div>

  <!-- Footer -->

  {% include "site_template/footer.html" %}

</div>        

{% endblock content %}
{% block javascripts %}
{{ super () }}
{% with change=change, error_msg=error_msg %}
  {% include "site_template/change_notification.html" %}
{% endwith %}

<script type="text/javascript">
  ymaps.ready(init);

function init() {
    var main_patient_lat_lng = ['{{ main_patient.home_address.lat }}', '{{ main_patient.home_address.lng }}']

    var myMap = new ymaps.Map("map", {
      {% if main_patient.home_address.lat %}
            center: main_patient_lat_lng,
            zoom: 12,
      {% else %}
            center: [{{ constants.kz_center_lat_lng[0] }}, {{ constants.kz_center_lat_lng[1] }}],
            zoom: 5,
      {% endif %}
            controls: ['zoomControl']
        }, {
            searchControlProvider: 'yandex#search'
        })

    clusterer = new ymaps.Clusterer({
            preset: 'islands#invertedVioletClusterIcons',
            clusterHideIconOnBalloonOpen: false,
            geoObjectHideIconOnBalloonOpen: false
        })

    clusterer.events
        // Можно слушать сразу несколько событий, указывая их имена в массиве.
        .add(['mouseenter', 'mouseleave'], function (e) {
            var target = e.get('target'),
                type = e.get('type');
            if (typeof target.getGeoObjects != 'undefined') {
                // Событие произошло на кластере.
                if (type == 'mouseenter') {
                    target.options.set('preset', 'islands#invertedPinkClusterIcons');
                } else {
                    target.options.set('preset', 'islands#invertedVioletClusterIcons');
                }
            }
        });    

    geoObjects = []
    var contacted_patients = []

    {% for p in all_patients + [main_patient]  %}
      {% if p.home_address.lat %}
        
        is_found = '{{ _("Нет") }}'
        {% if p.is_found %}
          is_found = '{{ _("Да") }}'
        {% endif %}

        var home_address_lat_lng = ['{{ p.home_address.lat }}', '{{ p.home_address.lng }}' ]
        {% if p == main_patient %}
          var patient_preset = 'islands#redCircleDotIcon'
        {% else %}
          var patient_preset = 'islands#icon'
        {% endif %}
        {% if p.is_infected  %}
          var icon_color = 'red'
        {% else %}
          var icon_color = 'green'
        {% endif %}  

        contacted_patients.push({"id": '{{ p.id }}',
                                "full_name": '{{ p }}', 
                                "region": '{{ p.region }}', 
                                "address": '{{ p.home_address }}',
                                "is_found": is_found,
                                "status": '{{ p.status.name }}',
                                "lat_lng": home_address_lat_lng,
                                "preset": patient_preset,
                                "icon_color": icon_color })
      {% endif %}
    {% endfor %}

    var contacted_line_style = {
            strokeColor: "#ff0000",
            strokeWidth: 2
    }
    for (const patient of contacted_patients) {
      geoObjects.push(new ymaps.Placemark(patient['lat_lng'], {
          balloonContentBody: 
          `<a href="/patient_profile?id=${patient["id"]}">${patient["full_name"]}</a><br>` +
          `<strong>Регион</strong>: ${patient["region"]}<br>` +
          `<strong>Адрес</strong>: ${patient["address"]}<br>` +
          `<strong>Найден</strong>:${patient["is_found"]}<br>` +
          `<strong>Статус</strong>: ${patient["status"]}<br>`,
          clusterCaption: `<strong> ${patient["full_name"]}</strong>`
      }, {
          preset: patient["preset"],
          iconColor: patient["icon_color"]
      }))

    {% if main_patient.home_address.lat %}

      myMap.geoObjects.add(new ymaps.GeoObject({
            geometry: {
                  type: "LineString",
                  coordinates: [main_patient_lat_lng, patient['lat_lng']]
              },
              },
              contacted_line_style
              ))
      {% endif %}
      }
    clusterer.add(geoObjects);
    myMap.geoObjects.add(clusterer);
}    

  var setSearchParam = function(key, value) {
    if (!window.history.pushState) {
      return;
    }

    if (!key) {
      return;
    }

    var url = new URL(window.location.href);
    var params = new window.URLSearchParams(window.location.search);
    if (value === undefined || value === null) {
      params.delete(key);
    } else {
      params.set(key, value);
    }

    url.search = params;
    url = url.toString();
    window.history.replaceState({url: url}, null, url);
    window.location.href = window.location.href
  }
</script>
{% endblock javascripts %}
