{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

{% include "site_template/top-stats.html" %}

{% if select_contacted %}
<!-- Modal ADD CONTACTED PATIENTS-->
<div class="modal fade" id="addContactedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ _("Добавить контактные связи?") }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="name-input" class="form-control-label">{{ _("Тип Связи") }}*</label>
                    {{ select_contacted_form.contact_type(class="form-control") }}
                </div>
                <div class="col">
                <div class="row">
                  <h4>*{{ _("Вы вносите") }}</h4>&nbsp;<h4 id="contacted_num" style="color:green;">55</h4>&nbsp;<h4>{{ _("контактов") }}</h4>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col">
                  <button type="button" id="submit_contacted" class="btn btn-primary">{{ _("Да") }}</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("Нет") }}</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<form method="GET" id="searchForm">
<div class="container-fluid mt--7">
  <div class="card shadow">
    <div class="card-header border-0">
      <h3> {{ _('Поиск Пациента') }} </h3>

      <input type="hidden" style="display: none;" name="per_page" value="{{ all_patients_table.per_page }}">
      {% if select_contacted %}
      <input type="text" name="select_contacted_id" style="display:none;" value="{{ select_contacted }}">
      {% endif %}      
      <div class="card shadow mt-3">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-xl">
              <label class='form-control-label'>{{ _('Фамилия') }}</label>
              {{ form.second_name(class="form-control", placeholder=_('Фамилия')) }}              
            </div>
            <div class="col-xl">
              <label class='form-control-label'>{{ _('Имя') }}</label>
              {{ form.first_name(class="form-control", placeholder=_('Имя')) }}              
            </div>
            <div class="col-xl">
              <label class='form-control-label'>{{ _('Отчество') }}</label>
              {{ form.patronymic_name(class="form-control", placeholder=_('Отчество')) }}              
            </div>                            
            <div class="col-auto">
              <label class='form-control-label'>{{ _('ИИН') }}</label>
              {{ form.iin(class="form-control", placeholder=_('ИИН')) }}              
            </div>
            <div class="col-auto">
              <label class='form-control-label'>{{ _('Номер Паспорта') }}</label>
              {{ form.pass_num(class="form-control", placeholder=_('Номер Паспорта')) }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card shadow mt-3">
            <div class="card-header border-0">
              <div class="row">
                <div class="col">
                  <label class='form-control-label'>{{ _('Начало Периода') }}</label>
                  {{ form.date_range_start(class="form-control datepicker", type="date") }}              
                </div>
                <div class="col">
                  <label class='form-control-label'>{{ _('Конец Периода') }}</label>                
                  {{ form.date_range_end(class="form-control datepicker", type="date") }}              
                </div>
                <div class="col">
                  <label class='form-control-label'>{{ _('Категория Работы') }}</label>                
                  {{ form.job_category_id(class="form-control") }}
                </div>
                <div class="col">
                  <label class='form-control-label'>{{ _('Фильтр по ИИН') }}</label>
                  {{ form.is_iin_fail(class="form-control") }}
                </div>                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow mt-3">
            <div class="card-header border-0">
              <div class="row">
                <div class="col">
                  <label class='form-control-label'>{{ _('Статус') }}</label>                
                  {{ form.patient_state(class="form-control") }}
                </div>                
                <div class="col">
                  <label class='form-control-label'>{{ _('Начало Даты Выявления') }}</label>
                  {{ form.state_date_range_start(class="form-control datepicker", type="date") }}              
                </div>
                <div class="col">
                  <label class='form-control-label'>{{ _('Конец Даты Выявления') }}</label>                
                  {{ form.state_date_range_end(class="form-control datepicker", type="date") }}              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow mt-3">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-xl">
              <label class='form-control-label'>{{ _('Адрес') }}</label>
              {{ form.address(class="form-control", placeholder=_('Страна/Город/Улица и т.д.')) }}              
            </div>
            <div class="col-xl">
              <label class='form-control-label'>{{ _('Регион') }}</label>                
              {{ form.region_id(class="form-control") }}
            </div>
            <div class="col-md-auto">
              <label class='form-control-label'>{{ _('Инфицирован (Текущее)') }}</label>                
              {{ form.is_currently_infected(class="form-control") }}
            </div>              
<!--             <div class="col-md-auto">
              <label class='form-control-label'>{{ _('Инфицирован (Все)') }}</label>                
            </div> -->
            <div class="col-md-auto">
              <label class='form-control-label'>{{ _('Найден') }}</label>                
              {{ form.is_found(class="form-control") }}
            </div>
            <div class="col-md-auto">
              <label class='form-control-label'>{{ _('Текущий Статус Пациента') }}</label>                
              {{ form.patient_status(class="form-control") }}
            </div>
            <div class="col-md-auto">
              <label class='form-control-label'>{{ _('Контакты') }}</label>                
              {{ form.contacted(class="form-control") }}
            </div>            
            <div class="custom-control custom-checkbox">
              {{ form.probably_duplicate(class="custom-control-input") }}                    
              <label class="custom-control-label" for="probably_duplicate">{{ _("Возможные Дубли") }}</label>
            </div>                                          
          </div>
        </div>
      </div>
        <div class="card shadow mt-3">
          <div class="card-header border-0">        
            <div class="row">
              <div class="col">
                {% with form=form %}
                {% include "patients/modules/travel_form.html" %}
                {% endwith %}   
              </div>
            </div>
          </div>
        </div>
          <button type="submit" class="btn btn-primary btn-full-width mt-3" type="button">
            {{ _('Поиск') }}
          </button>
    </div>
  </div>

  <!-- Table -->
  <div class="row mt-3">
    <div class="col">
      {% with table=all_patients_table, search_fields = [] %}
        {% include "modules/table/table.html" %}
      {% endwith %}                 
    </div>
  </div>
  <!-- Footer -->
  {% include "site_template/footer.html" %}
</div>        
</form>

{% endblock content %}

{% block javascripts %}
{{ super()}}
<script type="text/javascript">
  {% with form=form, c=constants, search_form=True %}
  {% include "js/travel_form.html" %}
  {% endwith %}

  update_travel_form()

  $("#travel_type").on("change", function(){
    update_travel_form();
  });

  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const travel_type = urlParams.get('travel_type')
  
  if (travel_type !== null) {
    if (travel_type == '{{ constants.flight_type[0] }}') {
      flight_arrival_date = urlParams.get('flight_arrival_date')
      if(flight_arrival_date !== null) {
        $('#flight_arrival_date').val(flight_arrival_date)
      }
      
      get_flights_by_date()
      flight_code_id = urlParams.get('flight_code_id')
      if(flight_code_id !== null) {
        $('#flight_code_id').val(flight_code_id)
      }
    } else if (travel_type == '{{ constants.train_type[0] }}') {
      train_departure_date = urlParams.get('train_departure_date')
      if(train_departure_date !== null) {
        $('#train_departure_date').val(train_departure_date)
      }

      train_arrival_date = urlParams.get('train_arrival_date')
      if(train_arrival_date !== null) {
        $('#train_arrival_date').val(train_arrival_date)
      }
      
      get_trains_by_date_range()
      train_id = urlParams.get('train_id')
      if(train_id !== null) {
        $('#train_id').val(train_id)
      }
    }
  }

// Contacted Select Checkbox
$("#contacted_all_checkboxes").on("change", function() {
  var group = $('input[name="add_contacted_patient_id"]');

  if (group.length > 1) {
    group.each(function () {
      $(this).prop('checked', ($('#contacted_all_checkboxes').is(":checked")));
      $(this).trigger('change');
    });
  }
});

$("input[name='add_contacted_patient_id']"), submitButt = $("input[id='add_contacted']");

var checkboxes = $("input[name='add_contacted_patient_id']"),
submitButtList = $("#add_contacted");

checkboxes.change(function() {
  submitButt.attr("disabled", !checkboxes.is(":checked"));
  if (!checkboxes.is(":checked")) {
    submitButtList.prop("disabled", true);
  } else {
    submitButtList.prop("disabled", false);
  }
});


$("#add_contacted").on("click", function(e) {
  e.preventDefault();

  var checked_checkboxes = $("input:checkbox[name=add_contacted_patient_id]:checked")
  $("#contacted_num").text(checked_checkboxes.length)
  
});

$("#submit_contacted").on("click", function(e) {
  e.preventDefault();

  var checked_checkboxes = $("input:checkbox[name=add_contacted_patient_id]:checked")
  var checkedArrays = [];
  
  checked_checkboxes.each(function(){
    checkedArrays.push($(this).val());
  });

  $.ajax({
    type: 'POST',
    url: "/select_contacted",
    async: false,
    data: {infected_patient_id: {{ select_contacted }}, contacted_patients: checkedArrays, contact_type: $("#contact_type").val()},
    dataType: "text",
    success: function(res) {
      window.location.href = JSON.parse(res).redirect_url;
    }
  });
});

</script>


  {% with change=change, error_msg=error_msg %}
    {% include "site_template/change_notification.html" %}
  {% endwith %}

{% endblock javascripts %}