{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

<!-- Header -->
{% include "site_template/top-stats.html" %}

<!-- Modal -->
<div class="modal fade" id="deletePatientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ _("Удалить пациента?") }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
      </button>
  </div>
  <div class="modal-body">
    {{ _("Вы уверены, что хотите удалить пациента") }} <bold> {{patient.first_name}} </bold>?
</div>
<div class="modal-footer">
    <form action="/delete_patient" method="POST">
        {{ form.hidden_tag() }}
        <input type="hidden" name="delete" value='{{ patient.id }}'>
        <button type="submit" class="btn btn-primary">{{ _("Да") }}</button>
    </form>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("Нет") }}</button>
</div>
</div>
</div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <form method="POST"> 
        {{ form.hidden_tag() }}        
        <div class="row">
            <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
                {% if patient.home_address.lat %}
                <div class="card shadow">
                   <div id="map" style="width:100%; height:220px"></div>
               </div>
               <div class="row">
                <div class="col">
                 <a href="/contacted_persons?id={{ patient.id }}" class="btn btn-primary mt-3" style="width:100%;">{{ _("Контактные Лица") }}</a>
             </div>
             {% if patient.travel_type.value == c.flight_type[0] %}
             <div class="col">
                <a href="/patients?flight_code={{ travel.flight_code }}&region=-1" class="btn btn-primary mt-3" style="width:100%;">{{ _("Прилетевшие Вместе") }}</a>
            </div>
            {% endif %}
        </div>
        <!-- <button class="btn btn-primary mt-2" id="submit" name="submit" type="submit" value="Обновить">Обновить</button> -->

        <div class="card card-profile shadow mt-3">
            {% else %}
            <div class="card card-profile shadow mt-0">
                {% endif %} 
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">

                    </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <div class="text-center">                       
                        <h3>
                            {{ _("Возраст") }} {{ age }}<span class="font-weight-light"></span>
                        </h3>
                        <div class="row">
                            <div class="col">
                              <div class="custom-control custom-checkbox">
                                {{ form.is_found(class="custom-control-input", id="is_found_checkbox", onchange="found_changed($(this).prop('checked'))") }}
                                <label class="custom-control-label" for="is_found_checkbox">{{ _("Найден") }}</label>
                            </div>
                        </div>
                        <div class="col">
                          <div class="custom-control custom-checkbox">
                            {{ form.is_infected(class="custom-control-input", id="is_infected_checkbox") }}
                            <label class="custom-control-label" for="is_infected_checkbox">{{ _("Инфицирован") }}</label>
                        </div>
                    </div>                    
                </div>
                <hr class="my-4" />
                <div class="row">
                    <div class="col">
                        <div class="custom-control custom-checkbox">
                            {{ form.in_hospital(class="custom-control-input", id="in_hospital_checkbox") }}                    
                            <label class="custom-control-label" for="in_hospital_checkbox">{{ _("Госпитализирован") }}</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-control custom-checkbox">
                            {{ form.is_home(class="custom-control-input", id="is_home", onchange="status_exclusive_checkbox($(this))") }}
                            <label class="custom-control-label" for="is_home">{{ _("Домашний Карантин") }}</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-control custom-checkbox">
                            {{ form.is_transit(class="custom-control-input", id="is_transit", onchange="status_exclusive_checkbox($(this))") }}
                            <label class="custom-control-label" for="is_transit">{{ _("Транзит") }}</label>
                        </div>
                    </div>                    
                </div>                    
                <hr class="my-4" />
                <div class="col mt-3">
                  <div class="form-group">
                    <label for="job-input" class="form-control-label">{{ _("Регион Госпитализации") }}</label>
                    {{ form.hospital_region_id(class="form-control", id="hospital_region_id") }}
                </div>
                <div class="form-group">
                    <label for="job-input" class="form-control-label">{{ _("Тип Больницы") }}</label>
                    {{ form.hospital_type(class="form-control", id="hospital_type") }}
                </div>
                <div class="form-group">
                    <label for="job-input" class="form-control-label"><a href="/hospital_profile?id={{ patient.hospital_id }}">{{ _("Место Госпитализации") }}</a></label>
                    {{ form.hospital_id(class="form-control", id="hospital_select") }}
                </div>
                <hr class="my-4" />                    
            </div>
            <div class="row mt-3">
                <div class="col">
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value={{ _("Сохранить") }}>
                </div>
                <div class="col">
                    <input class="btn btn-danger" data-toggle="modal" type="button" data-target="#deletePatientModal" value={{ _("Удалить") }}>
                </div>                            
            </div>
        </div>
    </div>
</div>

</div>
<div class="col-xl-9 order-xl-1">
    {% with form=form %}
      {% include "patients/modules/travel_form.html" %}
    {% endwith %} 
    <div class="card bg-secondary shadow mt-3">
        <div class="card-header bg-white">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">{{ patient.first_name }}</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h6 class="heading-small text-muted mb-4">{{ _("Личные Данные") }}</h6>
            <div class="pl-lg-4">
                <div class="row">
                  <div class="col">
                        {% with form=form %}
                          {% include "patients/modules/patient_form_left.html" %}
                        {% endwith %} 
                    </div>
                                      <div class="col">
                        {% with form=form %}
                          {% include "patients/modules/patient_form_right.html" %}
                        {% endwith %}                         
                  </div>
                </div>
                
            </div>

            {% if not patient.is_contacted_person %}
                                 
        {% endif %}
    </div>
</div>
</div>
</div>
</form>

{% include "site_template/footer.html" %}

</div>    

{% endblock content %}

{% block javascripts %}
{{ super()}}

<script type="text/javascript">
    {% with form=form, c=c %}
        {% include "js/travel_form.html" %}
    {% endwith %}
    setup_form()

    {% if patient.home_address.lat %}
        ymaps.ready(init);

        function init() {
            var myMap = new ymaps.Map("map", {
                center: [{{ patient.home_address.lat }}, {{ patient.home_address.lng }}],
                zoom: 12,
                controls: ['zoomControl']
            }, {
                searchControlProvider: 'yandex#search'
            })

            myMap.geoObjects
            .add(new ymaps.Placemark([{{ patient.home_address.lat }}, {{ patient.home_address.lng }} ], {
                balloonContent: '{{ patient.first_name }}</a>'
            }, {
                preset: 'islands#icon',
                iconColor: 'red'
            }))
        }
    {% endif %}

    $("#in_hospital_checkbox").on("change", function(){
        status_exclusive_checkbox($("#in_hospital_checkbox"))
        disable_hospital_choice($("#in_hospital_checkbox").prop('checked'))
    });

    function status_exclusive_checkbox(checkbox) {
        if(checkbox.prop('checked')) {
            checkboxes = [$("#in_hospital_checkbox"), $("#is_home"), $("#is_transit")]
            for (i = 0; i < checkboxes.length; i++) {
                if (!checkboxes[i].is(checkbox)) {
                    checkboxes[i].prop('checked', false).change()
                }
            }
        }
    }

    function found_changed(value) {
        disable = true;
        if (value == 1 || value == true) {
            disable = false;
        } else {
            $("#in_hospital_checkbox").prop('checked', false)
            $("#is_home").prop('checked', false)
            $("#is_transit").prop('checked', false)
        }

        document.getElementById('in_hospital_checkbox').disabled = disable;

        document.getElementById('is_home').disabled = disable;
        document.getElementById('is_transit').disabled = disable;
        
        disable_hospital_choice($("#in_hospital_checkbox").prop('checked'))
    }

    function disable_hospital_choice(value) {
        disable = true;
        if (value == 1 || value == "True") {
            disable = false;
        }

        document.getElementById('hospital_region_id').disabled = disable;
        document.getElementById('hospital_type').disabled = disable;
        document.getElementById('hospital_select').disabled = disable;
    }

    function update_hospitals_list(){
        $.ajax({
          type: 'POST',
          url: "/get_hospital_by_region",
          data: {region_id: $("#hospital_region_id").val(), hospital_type_id: $("#hospital_type").val()},
          dataType: "text",
          success: function(data){
            document.getElementById("hospital_select").innerHTML = data.toString();
        }
    });
    };

    // $("#hospital_region_id").on("click", update_hospitals_list());
    $("#hospital_region_id").on("change", function(){
      update_hospitals_list();
  });
    $("#hospital_type").on("change", function(){
      update_hospitals_list();
  });

    window.onload = function() {
        found_changed($("#is_found_checkbox").prop('checked'))
        disable_hospital_choice($("#in_hospital_checkbox").prop('checked'))
    }

    function setup_form() {
        update_travel_form();
        {% if patient.travel_type.value == c.flight_type[0] %}
            $("#flight_arrival_date").val('{{ travel.flight_code.date }}')
            $("#flight_arrival_date").change()
            $("#flight_code_id").val('{{ travel.flight_code.id }}')
            {% if travel.seat %}
                $("#flight_seat").val('{{ travel.seat }}')
            {% endif %}
        {% else %}
            $("#arrival_date").val('{{ travel.date }}')
            var border_form_id = null

            switch('{{ patient.travel_type.value }}') {
              case '{{c.by_auto_type[0]}}':
                border_form_id = "#auto_border_id"
                break;
              case '{{c.by_foot_type[0]}}':
                border_form_id = "#foot_border_id"
                break;
              case '{{c.by_sea_type[0]}}':
                border_form_id = "#sea_border_id"
                break;
            }

            if (border_form_id) $(border_form_id).val({{ travel.border_control_id }})
        {% endif %}
    }

</script>
{% with change=change, error_msg=error_msg %}
{% include "site_template/change_notification.html" %}
{% endwith %}
{% endblock javascripts %}
