{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

<!-- Header -->
{% include "site_template/top-stats.html" %}

<!-- Modal DELETE PATIENT-->
<div class="modal fade" id="deletePatientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ _("Удалить пациента?") }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="modal-body">
                {{ _("Вы уверены, что хотите удалить пациента") }} <bold> {{patient.first_name}} </bold>?
            </div>
            <div class="modal-footer">
                <form action="/delete_patient" method="POST">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="delete" value='{{ patient.id }}'>
                    <button type="submit" class="btn btn-primary">{{ _("Да") }}</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("Нет") }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal ADD STATE-->
<div class="modal fade" id="addPatientStateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить статус</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="modal-body">
                <form action="/add_state" method="POST">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="id" value='{{ patient.id }}'>
                    <div class="form-group">
                        <label for="name-input" class="form-control-label">Статус*</label>
                        {{ form.state(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <label for="name-input" class="form-control-label">Комментарий</label>
                        {{ form.stateComment(class="form-control", type="text") }}
                    </div>
                    <div class="form-group">
                        <label for="name-input" class="form-control-label">Дата выявления*</label>
                        {{ form.stateDetectionDate(class="form-control datepicker", type="date") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal DELETE PatientState -->
<div class="modal fade" id="deletePatientStateModal" tabindex="-1" role="dialog" aria-labelledby="deletePatientStateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletePatientStateModalLabel">Удаление статуса</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2>Вы уверены что хотите удалить статус?</h2>
          <p>Статус: <span id="deletePatientStateState"></span></p>
          <p>Комментарий: <span id="deletePatientStateComment"></span></p>
          <p>Дата выявление: <span id="deletePatientStateDate"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <form action="/delete_state" method="POST">
            {{ form.hidden_tag() }}
            <input type="hidden" name="id" id="deletePatientStateID" value=''>
            <input type="hidden" name="patientID" value='{{ patient.id }}'>
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
        </div>
      </div>
    </div>
  </div>

<!-- Modal UPDATE STATE-->
<div class="modal fade" id="updatePatientStateModal" tabindex="-1" role="dialog" aria-labelledby="updatePatientStateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePatientStateModalLabel">Изменить статус</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="modal-body">
                <form action="/update_state" method="POST">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="patientID" value='{{ patient.id }}'>
                    <input type="hidden" name="id" id="updatePatientStateID" value=''>
                    <div class="form-group">
                        <label for="name-input" class="form-control-label">Статус</label>
                        {{ form.state(class="form-control", id="updatePatientStateState") }}
                    </div>
                    <div class="form-group">
                        <label for="name-input" class="form-control-label">Комментарий</label>
                        <input class="form-control" id="updatePatientStateComment" name="comment" type="text" value="">
                    </div>
                    <div class="form-group">
                        <label for="name-input" class="form-control-label">Дата выявления</label>
                        <input class="form-control datepicker" id="updatePatientStateDate" name="detection_date" type="date" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <form method="POST"> 
        {{ form.hidden_tag() }}        
        <div class="row">
            <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
                {% if patient.home_address.lat %}
                <div class="card shadow">
                   <div id="map" style="width:100%; height:215px"></div>
               </div>
               <div class="card card-profile shadow mt-3">
                {% else %}
                <div class="card card-profile shadow mt-0">
               {% endif %}
                <div class="card-body pt-0 pt-md-4">
                    <!-- <div class="text-center">             -->
                        <h3>
                            {{ _("Возраст") }} {{ age }}<span class="font-weight-light"></span>
                        </h3>
                        <div class="row">
                            {% if patient.is_found %}
                                <span style="margin-top: 0.5rem; margin-left: 0.5rem;"class="badge badge-primary">{{ _("Найден") }}</span>
                            {% endif %}                        
                            {% if patient.in_hospital %}
                            <span style="margin-top: 0.5rem; margin-left: 0.5rem;"class="badge badge-success">{{ _("Госпитализирован") }}</span>
                            {% endif %}                        
                            {% if patient.is_infected %}
                                <span style="margin-top: 0.5rem; margin-left: 0.5rem;"class="badge badge-danger">{{ _("Инфицирован") }}</span>
                            {% endif %}                        
                        <!-- HERE WAS form.is_contacted -->
                        </div>              
                <hr class="my-4" />
                <div class="col mt-3">
                  <div class="form-group">
                    <label for="job-input" class="form-control-label">{{ _("Регион Госпитализации") }}</label>
                    {{ form.hospital_region_id(class="form-control") }}
                </div>
                <div class="form-group">
                    <label for="job-input" class="form-control-label">{{ _("Тип Больницы") }}</label>
                    {{ form.hospital_type_id(class="form-control") }}
                </div>
                <div class="form-group">
                    <label for="job-input" class="form-control-label">
                        {% if patient.hospital_id %} 
                        <a href="/hospital_profile?id={{ patient.hospital_id }}">{{ _("Место Госпитализации") }}</a>
                        {% else %}
                        {{ _("Место Госпитализации") }}
                        {% endif %}
                    </label>
                    <meta name="csrf-token" content="{{ csrf_token() }}">
                    {{ form.hospital_id(class="form-control") }}
                </div>
                <hr class="my-4" />                    
            </div>
            <div class="col">
                <div class="text-center">
                    <a href="/contacted_persons?id={{ patient.id }}" class="btn btn-primary btn-full-width">{{ _("Контактные Лица") }}</a>
                 {% if patient.travel_type.value == c.flight_type[0] %}
                 <a href="/flight_profile?id={{ travel.flight_code.id }}" class="btn btn-primary btn-full-width mt-3">{{ _("Прилетевшие Вместе") }}</a>
                 {% elif patient.travel_type.value == c.train_type[0] %}
                 <a href="/train_profile?id={{ travel.train.id }}" class="btn btn-primary btn-full-width mt-3">{{ _("Прибывшие Вместе") }}</a>
                 {% endif %}
             </div>
             <hr class="my-4" />               
         </div>            
         <div class="row mt-3">
            <div class="col" style="text-align:center;">
                <input class="btn btn-primary" id="submit" name="submit" type="submit" value={{ _("Сохранить") }}>
            </div>
<!--             <div class="col" style="text-align:center;">
                <input class="btn btn-danger" data-toggle="modal" type="button" data-target="#deletePatientModal" value={{ _("Удалить") }}>                
            </div> -->
        </div>
        <!-- </div> -->
    </div>
</div>

</div>
<div class="col-xl-9 order-xl-1">
    {% with form=form %}
    {% include "patients/modules/travel_form.html" %}
    {% endwith %} 
    <div class="card bg-secondary shadow mt-3">
        <div class="card-header bg-white">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0">{{ patient }}</h3>
                </div>
                <div class="col" style="text-align: end;">
                    <button data-toggle="modal" type="button" data-target="#addPatientStateModal"  class="btn btn-primary btn-sm">Добавить статус</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="col">
              <div class="col">
                {% with form=form %}
                {% include "patients/modules/patient_form_left.html" %}
                {% endwith %} 
            </div>
            <div class="col mt-3">
                {% with form=form %}
                {% include "patients/modules/patient_form_right.html" %}
                {% endwith %}                         
            </div>
        </div>


        
    </div>
</div>
<div class="card bg-secondary shadow mt-3">
    <div class="card-header bg-white">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="mb-0">История статусов</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div>
                <table class="table align-items-center">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Статус</th>
                            <th scope="col">Комментарий</th>
                            <th scope="col">Дата выявления</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        {% for state in states %}
                        <tr>
                            <td>{{ state.name }} </td>
                            <td>{{ state.formatted_comment }}</td>
                            <td>{{ state.formatted_detection_date }}</td>
                            <td class="text-right">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a onclick="fillUpdatePatientState({{ state.id }}, '{{ state.name }}', '{{ state.formatted_comment }}', '{{ state.detection_date }}')" 
                                            class="dropdown-item" href="#" data-toggle="modal" data-target="#updatePatientStateModal">Изменить</a>
                                        <a onclick="fillDeletePatientState({{ state.id }}, '{{ state.name }}', '{{ state.formatted_comment }}', '{{ state.formatted_detection_date }}')" 
                                            class="dropdown-item" href="#" data-toggle="modal" data-target="#deletePatientStateModal">Удалить</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</form>



{% include "site_template/footer.html" %}

</div>    

{% endblock content %}

{% block javascripts %}
{{ super()}}
{% include "js/hospital_selection_form.html" %}

<script type="text/javascript">
    {% with form=form, c=c %}
    {% include "js/travel_form.html" %}
    {% endwith %}

    setup_form()
    
    window.onload = function() {
        found_changed($("#is_found_checkbox").prop('checked'))
        disable_hospital_choice($("#in_hospital_checkbox").prop('checked'))
        {% if patient.hospital %}
        $("#hospital_type_id").val({{ patient.hospital.hospital_type_id }})
        {% endif %}
        update_hospitals_list(async = false)
        {% if patient.hospital %}
        $("#hospital_id").val({{ patient.hospital_id }})
        {% endif %}       
    }
    // Disable travel type select for profile page
    $("#travel_type").prop('disabled', true);

    {% if patient.home_address.lat %}
    ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map("map", {
            center: [{{ patient.home_address.lat }}, {{ patient.home_address.lng }}],
            zoom: 12,
            controls: ['zoomControl']
        }, {
            searchControlProvider: 'yandex#search'
        })

        myMap.geoObjects
        .add(new ymaps.Placemark([{{ patient.home_address.lat }}, {{ patient.home_address.lng }} ], {
            balloonContent: '{{ patient }}</a>'
        }, {
            preset: 'islands#icon',
            iconColor: 'red'
        }))
    }
    {% endif %}

    $("#in_hospital_checkbox").on("change", function(){
        status_exclusive_checkbox($("#in_hospital_checkbox"))
        disable_hospital_choice($("#in_hospital_checkbox").prop('checked'))
    });

    function status_exclusive_checkbox(checkbox) {
        if(checkbox.prop('checked')) {
            checkboxes = [$("#in_hospital_checkbox"), $("#is_home"), $("#is_transit")]
            for (i = 0; i < checkboxes.length; i++) {
                if (!checkboxes[i].is(checkbox)) {
                    checkboxes[i].prop('checked', false).change()
                }
            }
        }
    }

    function found_changed(value) {
        disable = true;
        if (value == 1 || value == true) {
            disable = false;
        } else {
            $("#in_hospital_checkbox").prop('checked', false)
            $("#is_home").prop('checked', false)
            $("#is_transit").prop('checked', false)
        }

        document.getElementById('in_hospital_checkbox').disabled = disable;

        document.getElementById('is_home').disabled = disable;
        document.getElementById('is_transit').disabled = disable;
        
        disable_hospital_choice($("#in_hospital_checkbox").prop('checked'))
    }

    function setup_form() {
        update_travel_form();
        {% if patient.travel_type.value == c.flight_type[0] %}
            $("#flight_arrival_date").val('{{ travel.flight_code.date }}')
            $("#flight_arrival_date").change()
            $("#flight_code_id").val('{{ travel.flight_code.id }}')
            {% if travel.seat %}
                $("#flight_seat").val('{{ travel.seat }}')
            {% endif %}
        {% elif patient.travel_type.value == c.train_type[0] %}
            $("#train_departure_date").val('{{ travel.train.departure_date }}')
            $("#train_departure_date").change()

            $("#train_arrival_date").val('{{ travel.train.arrival_date }}')
            $("#train_arrival_date").change()

            $("#train_id").val('{{ travel.train.id }}')
            {% if travel.wagon %}
                $("#train_wagon").val('{{ travel.wagon }}')
            {% endif %}             
            {% if travel.seat %}
                $("#train_seat").val('{{ travel.seat }}')
            {% endif %}            
        {% else %}
            $("#arrival_date").val('{{ travel.date }}')
            {% if patient.travel_type.value == c.blockpost_type[0] %}
                 $("#blockpost_region_id").val('{{ travel.region_id }}')
            {% endif %}
            
            var border_form_id = null

            switch('{{ patient.travel_type.value }}') {
              case '{{c.by_auto_type[0]}}':
              border_form_id = "#auto_border_id"
              break;
              case '{{c.by_foot_type[0]}}':
              border_form_id = "#foot_border_id"
              break;
              case '{{c.by_sea_type[0]}}':
              border_form_id = "#sea_border_id"
              break;
          }

            if (border_form_id) $(border_form_id).val({{ travel.border_control_id }})
        {% endif %}
    }

    function fillDeletePatientState(stateID, stateName, stateComment, stateDetectionDate) {
        document.getElementById("deletePatientStateState").innerText = stateName;
        document.getElementById("deletePatientStateComment").innerText = stateComment;
        document.getElementById("deletePatientStateDate").innerText = stateDetectionDate;
        document.getElementById("deletePatientStateID").value = stateID;
    }

    function fillUpdatePatientState(stateID, stateName, stateComment, stateDetectionDate) {
        let stateValue = null;
        for (let i = 0; i < document.getElementById("updatePatientStateState").options.length; i++) {
            if (document.getElementById("updatePatientStateState").options[i].text == stateName) {
                stateValue = document.getElementById("updatePatientStateState").options[i].value;
                break;
            }
        }
		document.getElementById("updatePatientStateState").value = stateValue;
        document.getElementById("updatePatientStateComment").value = stateComment;
        document.getElementById("updatePatientStateDate").value = stateDetectionDate.slice(0,10);
        document.getElementById("updatePatientStateID").value = stateID;
    }

</script>
{% with change=change, error_msg=error_msg %}
{% include "site_template/change_notification.html" %}
{% endwith %}
{% endblock javascripts %}
