{% extends "base_site.html" %}

{% block title %} Icons {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

{% with stats=stats %}
{% include "site_template/top-stats.html" %}
{% endwith %}

<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">{{ _("Добавить Рейс") }}</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <form id="add-patients" role="form" method="post" action="">
                {{ form.hidden_tag() }}
                <div class="col">
                  <div class="card shadow">
                    <div class="card-header bg-transparent">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="name-input" class="form-control-label">{{ _("Код Рейса") }}</label>
                            {{ form.code(placeholder="KC 971",class="form-control", type="text") }}
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="npass-input" class="form-control-label">{{ _("Дата") }}</label>
                            {{ form.date(class="form-control", type="date") }}
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col mt-3">
                      <div class="row">
                        <div class="col">
                          <div class="card shadow">
                            <div class="card-header bg-transparent">
                              <div class="form-group">
                                <label for="name-input" class="form-control-label">{{ _("Из Страны") }}</label>
                                {{ form.from_country(class="form-control") }}
                              </div>
                              <div class="form-group">
                                <label for="iin-input" class="form-control-label">{{ _("Из Города") }}</label>
                                {{ form.from_city(class="form-control", placeholder="Нур-Султан", type="text") }}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow">
                            <div class="card-header bg-transparent">                      
                              <div class="form-group">
                                <label for="name-input" class="form-control-label">{{ _("В Страну") }}</label>
                                {{ form.to_country(class="form-control") }}
                              </div>
                              <div class="form-group">
                                <label for="iin-input" class="form-control-label">{{ _("В Город") }}</label>
                                {{ form.to_city(class="form-control", placeholder="Алматы", type="text") }}
                              </div>                                                  
                            </div>
                          </div>
                        </div>
                      </div>
                    <button type="submit" name="create" class="btn btn-primary mt-4" type="button" style="width:100%">
                      {{ _("Добавить Рейс") }}
                    </button>                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% include "site_template/footer.html" %}

</div>        

{% endblock content %}

{% block javascripts %}
{{ super()}}
<script type="text/javascript">
  {% with change=change, error_msg=error_msg %}
  {% include "site_template/change_notification.html" %}
  {% endwith %}
  
  disable_hospital_choice(0)
  update_hospitals_list()
  disable_status($("#hospital_select").val())

  function disable_status(value) {
    disable = true
    if (value == 1) {
      disable = false
    } else {
      $('#patient_status').prop('selectedIndex', 0).change();
      // document.getElementById('in_hospital-0').checked = false;
      // document.getElementById('in_hospital-1').checked = false;
      // disable_hospital_choice(value)
    }

    document.getElementById('patient_status').disabled = disable;
    // document.getElementById('in_hospital-1').disabled = disable;    
  }

  function disable_in_hospital(value) {
    disable = true
    if (value == 1) {
      disable = false
    } else {
      document.getElementById('in_hospital-0').checked = false;
      document.getElementById('in_hospital-1').checked = false;
      disable_hospital_choice(value)
    }

    document.getElementById('in_hospital-0').disabled = disable;
    document.getElementById('in_hospital-1').disabled = disable;
  }

  function disable_hospital_choice(value) {
    disable = true;
    if (value == 1) {
      disable = false;
    }

    document.getElementById('hospital_region_id').disabled = disable;
    document.getElementById('hospital_type').disabled = disable;
    document.getElementById('hospital_select').disabled = disable;
  }

  function update_hospitals_list(){
    $.ajax({
      type: 'POST',
      url: "/get_hospital_by_region",
      data: {region_id: $("#hospital_region_id").val(), hospital_type_id: $("#hospital_type").val()},
      dataType: "text",
      success: function(data){
        document.getElementById("hospital_select").innerHTML = data.toString();
      }
    });
  };

// $("#hospital_region_id").on("click", update_hospitals_list());
$("#hospital_region_id").on("change", function(){
  update_hospitals_list();
});
$("#hospital_type").on("change", function(){
  update_hospitals_list();
});

</script>

{% endblock javascripts %}
