{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
{{ super() }}
<link href="{{ url_for('static', filename='assets/css/jquery.seat-charts.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

<!-- Header -->
{% include "site_template/top-stats.html" %}

<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      {% with is_trains=is_trains, form=form, is_profile=True, travel=travel %}
        {% include "flights_trains/modules/travel_form.html" %}
      {% endwith %} 
    <div class="col mt-3">
      {% with table=patients_table, hidden_values = [("id", travel.id)], search_fields = [
        [
          [_("ФИО"), patients_search_form.full_name(type="text", class="form-control", placeholder=_("ФИО"))],
          [_("Регион"), patients_search_form.region(class="form-control")]
        ]
      ] %}
        {% include "modules/table/table.html" %}
      {% endwith %}      
    </div>
  </div>
    {% if seatmap %}
    <div class="col-md-auto">         
      <div class="card card-profile shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col">
              <h3 class="mb-0">Карта Посадки Пациентов</h3>
            </div>
          </div>
        </div>        
        <div class="row justify-content-center mt-2">
          <div class="col">
            <div class="card-body pt-0 pt-md-1">
              <div class="text-center">
<!--                 <h3 class="mb-0">Экипаж</h3>
                  <div id="board-map" class="seatCharts-container"></div> -->
                <h3 class="mb-0">Пассажиры</h3>
                  <div id="seat-map" class="seatCharts-container"></div>                
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
    {% endif %}
  </div>

{% include "site_template/footer.html" %}

</div>

{% endblock content %}

{% block javascripts %}
{{ super()}}
  {% with change=change, error_msg=error_msg %}
    {% include "site_template/change_notification.html" %}
  {% endwith %}

<script src="{{ url_for('static', filename='assets/js/jquery.seat-charts.min.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    sc = $('#seat-map').seatCharts({
      map: [
      {% for row in seatmap %}
        '{{ row }}',
      {% endfor %}                                                        
      ],
      naming : {
        top : false,
      },
      seats: {
        o: {
          classes: 'occupied',
        },
        i: {
          classes: 'infected',
        },
        e: {
          classes: 'empty',
          price  : 50
        }
      },
      legend : {
        node : $('#legend'),
        items : [
        [ 'o', 'occupied',   'Occupied' ],
        [ 'i', 'infected',   'Infected' ],
        [ 'e', 'empty',   'Empty']
        ]         
      },
      click: function () {
        // console.log()
        window.open("/patient_profile?id="+seatMapPatient[this.settings.label][0])
        return this.status()
      },
      focus: function () {
        // console.log()
        // window.open("/patient_profile?id="+seatMapPatient[this.settings.label][1])
        return this.status()
      }

        });
      });


    </script>
    {% endblock javascripts %}
