{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

{% include "site_template/top-stats.html" %}

<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">
    <div class="col">
    {% if is_trains %}
      {% with table=flights_table,
       search_fields = [
        [_("Дата Отправления"), form.departure_date(type="date", class="form-control")],
        [_("Дата Прибытия"), form.arrival_date(type="date", class="form-control")]
      ] %}
        {% include "modules/table/table.html" %}
      {% endwith %}    
    {% else %}
      {% with table=flights_table,
       search_fields = [
        [_("Код Рейса"), form.code(type="text", class="form-control", placeholder=_("Код Рейса"))],
        [_("Дата Рейса"), form.date(type="date", class="form-control", placeholder=_("Код Рейса"))]
      ] %}
        {% include "modules/table/table.html" %}
      {% endwith %}  
    {% endif %}
    </div>
  </div>
  <!-- Footer -->
  {% include "site_template/footer.html" %}


{% endblock content %}

{% block javascripts %}
{{ super()}}
  {% with change=change, error_msg=error_msg %}
  {% include "site_template/change_notification.html" %}
  {% endwith %}
{% endblock javascripts %}
