{% extends "base_site.html" %}

{% block title %} Icons {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

{% with stats=stats %}
{% include "site_template/top-stats.html" %}
{% endwith %}

{% if is_profile %}
<!-- Modal -->
<div class="modal fade" id="deletePatientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ _("Удалить госпиталь?") }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        {{ _("Вы уверены, что хотите удалить госпиталь") }} <bold> {{hospital.username}} </bold>?
      </div>
      <div class="modal-footer">
        <form action="/delete_hospital" method="POST">
          {{ form.hidden_tag() }}
          <input type="hidden" name="delete" value='{{ hospital.id }}'>
          <button type="submit" class="btn btn-primary">{{ _("Да") }}</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("Нет") }}</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          {% if is_profile %}
            <h3 class="mb-0">{{ _("Профиль Стационара") }}</h3>
          {% else %}
            <h3 class="mb-0">{{ _("Добавить Стационар") }}</h3>
          {% endif %}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <form id="add-patients" role="form" method="post" action="">
                {{ form.hidden_tag() }}
                <div class="row">
                  <div class="col">
                    <div class="card shadow">
                      <div class="card-header bg-transparent">
                        <div class="form-group">
                          <label for="name-input" class="form-control-label">{{ _("Полное Название") }}*</label>
                          {{ form.full_name(placeholder="ГКП на ПХВ \"Аршалинская районная больница\"",class="form-control", type="text") }}
                        </div>                        
                      <div class="form-group">
                        <label for="region-input" class="form-control-label">{{ _("Тип Стационара") }}*</label>
                        {{ form.hospital_type_id(class="form-control") }}                          
                      </div>                      
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow">
                      <div class="card-header bg-transparent">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label for="region-input" class="form-control-label">{{ _("Регион") }}*</label>
                              {{ form.region_id(class="form-control", id="region_id") }}                          
                            </div>
                          </div>                          
                        </div>
                      </div>
                    </div>
                    {% if current_user.is_admin %}
                    <div class="card shadow mt-3">
                      <div class="card-header bg-transparent">
                        <div class="row">
                          {% if is_profile%}
                          <div class="col">
                            <button type="submit" name="update" class="btn btn-primary btn-full-width" type="button">
                              {{ _("Сохранить") }}
                            </button>
                          </div>
                            <div class="col">
                              <input class="btn btn-danger btn-full-width" data-toggle="modal" data-target="#deletePatientModal" value={{ _("Удалить Пользователя") }}>
                            </div>
                          {% else %}
                          <div class="col">
                            <button type="submit" name="create" class="btn btn-primary btn-full-width" type="button">
                              {{ _("Добавить Стационар") }}
                            </button>
                          </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% with table=patients_table, hidden_values=[("id", hospital.id)],
   search_fields = [
    [
      [_("ФИО"), patients_table.search_form.full_name(class="form-control", type="text", placeholder=_("ФИО"))],
      [_("Регион"), patients_table.search_form.region_id(class="form-control")],
      [_("ИИН"), patients_table.search_form.iin(class="form-control", type="text", placeholder=_("ИИН"))]
    ]
  ] 
  %}
  <div class="mt-3">
          {% include "modules/table/table.html" %}
        </div>
  {% endwith %}

{% include "site_template/footer.html" %}

</div>        

{% endblock content %}

{% block javascripts %}
{{ super()}}

{% with change=change, error_msg=error_msg %}
{% include "site_template/change_notification.html" %}
{% endwith %}

{% endblock javascripts %}
