{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

{% include "site_template/top-stats.html" %}

<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col">
              <h3 class="mb-0">{{ _("Найдено") }} {{total}}, {{ _("показано") }} {{ hospitals|length }} {{ _("больниц") }}</h3>
            </div>
            {% if current_user.is_admin %}
            <div class="col-md-auto">
              <a href="/add_hospital" class="btn btn-sm btn-primary">{{ _("Добавить Стационар") }}</a>
            </div>
            {% endif %}             
          </div>
          <form method="GET">            
            <div class="row mt-3">
              <div class="col">
                {{ form.region(class="form-control", onchange="this.form.submit()") }}
              </div>
              <div class="col">
                {{ form.hospital_type(class="form-control", onchange="this.form.submit()") }}
              </div>
            </div>
          </form>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{ _("Регион") }}</th>
                <th scope="col">{{ _("Название") }}</th>
                <th scope="col">{{ _("Тип") }}</th>
                <th scope="col"><a href="s">{{ _("Кол-во. пациентов") }}</a></th>
                <th scope="col">{{ _("Мед. Защита") }}</th>
                <th scope="col">{{ _("Тесты") }}</th>
              </tr>
            </thead>
            <tbody>
              {% for hospital in hospitals %}
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ hospital[0].region }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  <p class="short_p" style="width:350px;"><a href="/hospital_profile?id={{hospital[0].id}}">{{ hospital[0].name }}</a></p>
                </td>
                <td>
                  <p class="short_p">{{ hospital[0].hospital_type }}</p>
                </td>
                <td>
                  {{ hospital[1] }}
                </td>
                <td>
                  {{ hospital[0].meds_amount }}
                </td>
                <td>
                {{ hospital[0].tests_used }} / {{ hospital[0].tests_amount }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
        {% if max_page > 1%}
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item {% if page == 1%}disabled{%endif%}">
                <a class="page-link" onclick="setSearchParam('page', {{ page - 1 }} )">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><div class="page-link" style="cursor: default;"> {{ page }}</div></li>
              <li class="page-item {% if page == max_page %}disabled{%endif%}">
                <a class="page-link" onclick="setSearchParam('page', {{ page + 1 }} )" >
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Footer -->



  {% include "site_template/footer.html" %}

</div>        

{% endblock content %}

{% block javascripts %}
{{ super()}}

{% with change=change, error_msg=error_msg %}
{% include "site_template/change_notification.html" %}
{% endwith %}

<script type="text/javascript">
  var setSearchParam = function(key, value) {
    if (!window.history.pushState) {
      return;
    }

    if (!key) {
      return;
    }

    var url = new URL(window.location.href);
    var params = new window.URLSearchParams(window.location.search);
    if (value === undefined || value === null) {
      params.delete(key);
    } else {
      params.set(key, value);
    }

    url.search = params;
    url = url.toString();
    window.history.replaceState({url: url}, null, url);
    window.location.href = window.location.href
  }
</script>
{% endblock javascripts %}
