{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}

<!-- Header -->
{% include "site_template/top-stats.html" %}

<!-- Modal -->
<div class="modal fade" id="deletePatientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Удалить пользователя?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
      </button>
  </div>
  <div class="modal-body">
    Вы уверены, что хотите удалить пользователя <bold> {{user.username}} </bold>?
</div>
<div class="modal-footer">
    <form action="/delete_user" method="POST">
        {{ form.hidden_tag() }}
        <input type="hidden" name="delete" value='{{ user.id }}'>
        <button type="submit" class="btn btn-primary">Да</button>
    </form>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
</div>
</div>
</div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
{% with change=change, error_msg=error_msg %}
{% include "site_template/change_notification.html" %}
{% endwith %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">         
                <div class="card card-profile shadow">
                    <div class="row justify-content-center mt-2">
                        <div class="col">
                            <div class="card-body pt-0 pt-md-1">
                                <div class="text-center">
                                    <div class="col">
                                        <div class="form-group">
                                          <label for="region-input" class="form-control-label">Регион</label>
                                          {{ form.region_id(class="form-control", id="region_id") }}                          
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                    <button type="submit" name="update" class="btn btn-primary" type="button" style="width:100%">
                        Сохранить
                    </button>
                </div>
                <div class="col">
                    <input class="btn btn-danger" data-toggle="modal" data-target="#deletePatientModal" value="Удалить Пользователя">
                </div>                    
            </div>            
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow mt-2">
                <div class="card-body">
                    <form>
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Об Аккаунте</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-home_address">Логин</label>
                                                {{ form.username(placeholder="user1234",class="form-control form-control-alternative", type="text") }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                              <label for="region-input" class="form-control-label">Пароль</label>
                                              {{ form.password(class="form-control form-control-alternative", id="pasword", type="text") }}                          
                                          </div>       
                                      </div>    
                                  </div>                 
                              </div>
                          </div>

                      </div>
                      <hr class="my-4" />
                      <h6 class="heading-small text-muted mb-4">Контактная Информация</h6>
                      <div class="pl-lg-4">
                          <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-region">E-Mail</label>
                                    {{ form.email(placeholder="test@test.kz", class="form-control form-control-alternative", type="text") }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-region">Телефон</label>
                                    {{ form.telephone(placeholder="87017773344", class="form-control form-control-alternative", type="text") }}
                                </div>
                            </div>                        
                        </div>                
                    </div>                
                </form>
            </div>
        </div>
    </div>
</div>
</form>

{% include "site_template/footer.html" %}

</div>    

{% endblock content %}

{% block javascripts %}
{{ super()}}
<script type="text/javascript">
  var setSearchParam = function(key, value) {
    if (!window.history.pushState) {
      return;
  }

  if (!key) {
      return;
  }

  var url = new URL(window.location.href);
  var params = new window.URLSearchParams(window.location.search);
  if (value === undefined || value === null) {
      params.delete(key);
  } else {
      params.set(key, value);
  }

  url.search = params;
  url = url.toString();
  window.history.replaceState({url: url}, null, url);
  window.location.href = window.location.href
}
</script>
{% endblock javascripts %}
